In [360]:
import unicodecsv
import pandas as pd
#read data from CSV file and make it to lists
def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)

In [361]:
user = read_csv('../data_20180120/customer.csv')

In [362]:
users = pd.DataFrame(user)
users[:5]

,CUSTOMER_ID,FIRST_NAME,IS_DESIGNER,BPCODE,ADDRESS_NO,ADDRESS_POSTAL_CODE,ADDRESS_PROVINCE_ID,ADDRESS_PROVINCE,ADDRESS_STREET,ADDRESS_DISTRICT_ID,ADDRESS_DISTRICT,ADDRESS_SUB_DISTRICT_ID,ADDRESS_SUB_DISTRICT,ADDRESS_TYPE,ADDRESS_BUILDING,ADDRESS_OFFICE_NAME,DATE_OF_BIRTH
0,"2,083",ฐนันทิพย์,N,1100698858,2,20170,04090000000,จ.ชลบุรี,เซิดน้อย,04094570000,อ.บ้านบึง,04094573409,ต.บ้านบึง,บ้านพักอาศัย,เอเชีย,Cupcode,1988-10-30
1,"2,102",ทดสอบ002,N,1900036840,,,,,,,,,,,,,
2,"2,223",Ping,N,1900036887,,,,,,,,,,,,,
3,"2,224",มาศสุภา,N,1900036888,,,,,,,,,,,,,
4,"2,284",Tanate,N,1900036922,,,,,,,,,,,,,

In [363]:
import locale
locale.setlocale(locale.LC_ALL, '') 

neww_users = users[:]

neww_users['CUSTOMER_ID'] = users['CUSTOMER_ID'].apply(locale.atoi)
neww_users_birth = neww_users[neww_users['DATE_OF_BIRTH'].notnull() & (neww_users['DATE_OF_BIRTH'] != "")]

neww_users_birth

,CUSTOMER_ID,FIRST_NAME,IS_DESIGNER,BPCODE,ADDRESS_NO,ADDRESS_POSTAL_CODE,ADDRESS_PROVINCE_ID,ADDRESS_PROVINCE,ADDRESS_STREET,ADDRESS_DISTRICT_ID,ADDRESS_DISTRICT,ADDRESS_SUB_DISTRICT_ID,ADDRESS_SUB_DISTRICT,ADDRESS_TYPE,ADDRESS_BUILDING,ADDRESS_OFFICE_NAME,DATE_OF_BIRTH
0,2083,ฐนันทิพย์,N,1100698858,2,20170,04090000000,จ.ชลบุรี,เซิดน้อย,04094570000,อ.บ้านบึง,04094573409,ต.บ้านบึง,บ้านพักอาศัย,เอเชีย,Cupcode,1988-10-30
13,2390,ภิญญามาศ,N,1100700539,770/73,10250,01010000000,กรุงเทพมหานคร,ถ.พัฒนาการ,01011230000,แขวงสวนหลวง,01011230120,เขตสวนหลวง,HOUSE,หมู่บ้านพาทิโอ,,1986-8-11
16,2406,พัชรา,N,1100698992,ห้อง55/56,10150,01010000000,กรุงเทพมหานคร,ราชพฤกษ์,01010870000,แขวงบางค้อ,01010870055,เขตจอมทอง,CONDOMINIUM,คอนโดIdeo วุฒากาศ,บล.หลักทรัพย์ฟิลลิป,1983-10-10
21,2412,ณภัทร,N,1100463792,164/316,11110,01240000000,จ.นนทบุรี,บางกรวย-ไทรน้อย,01244250000,ต.พิมลราช,01244254131,อ.บางบัวทอง,HOUSE,,,1989-10-25
22,2413,ทวีศักดิ์,N,1100694276,320/144 (ตึก A ห้อง 1009),11000,01240000000,จ.นนทบุรี,รัตนาธิเบศร์,01246240000,ต.บางกระสอ,01246243042,อ.เมืองนนทบุรี,CONDOMINIUM,ลุมพินีพาร์ค รัตนาธิเบศร์-งามวงศ์วาน,,1982-6-4
24,2416,ธาราทิพย์,N,1100556743,235/155,10280,01590000000,จ.สมุทรปราการ,,01596590000,ต.บางปูใหม่,01596593178,อ.เมืองสมุทรปราการ,,หมู่บ้านพฤกษาวิลล์49,,1982-4-9
26,2082,ปิยมาศ,N,1100500779,8,11120,01240000000,จ.นนทบุรี,-,01245040000,ต.ปากเกร็ด,01245043714,อ.ปากเกร็ด,บ้านพักอาศัย,หมู่1,-,1976-10-23
27,2142,kanyarat,N,1100810163,152,10140,01010000000,กรุงเทพมหานคร,พุทธบูชา,01010930000,เขตทุ่งครุ,01010930073,แขวงบางมด,บ้านพักอาศัย,,,1988-08-10
32,2291,สุพรรษา,N,1100699532,123,12130,01280000000,จ.ปทุมธานี,เลียบคลอง 3,01283590000,ต.ประชาธิปัตย์,01283593646,อ.ธัญบุรี,HOUSE,ส.ธนากิตติ์ แมนชั่น,,1984-7-11
36,2316,ธนโชติ,N,1100685510,36,10250,01010000000,กรุงเทพมหานคร,อ่อนนุช,01011090000,แขวงประเวศ,90000000021,เขตประเวศ,HOUSE,-,-,1995-7-19
42,2391,ญาณี,N,1100688593,2/689,11110,01240000000,จ.นนทบุรี,ถ.รัตนาธิเบศร์,01244250000,อ.บางบัวทอง,01244253221,ต.บางรักพัฒนา,บ้านพักอาศัย,รัตนาธิเบศร์,,1988-05-20
52,2426,เฉลิมพล,N,1100681552,54/301,11130,01240000000,จ.นนทบุรี,ถ.สำเร็จพัฒนา,01244140000,ต.ศาลากลาง,01244145177,อ.บางกรวย,HOUSE,หมู่บ้าน inizio ศาลายา,,1979-4-10
53,2085,kanda,N,1100726078,999 Gaysorn Plaza,10330,01010000000,กรุงเทพมหานคร,Ploenchit,01011080000,เขตปทุมวัน,01011080102,แขวงลุมพินี,สำนักงาน,,,1997-01-01
57,2229,พงศกร,N,1100671430,64/15,21140,04490000000,จ.ระยอง,ถนน331 กม. 91.5,04494950000,ต.ปลวกแดง,04494953673,อ.ปลวกแดง,OFFICE,หมู่ 4,โลจิสติก อัลลายแอนซ์ (ประเทศไทย) จำกัด,1983-11-26
59,2243,สุชาดา,N,1100443490,92/41 ม.11,11150,01240000000,จ.นนทบุรี,บางกรวย-ไทรน้อย,01243560000,ต.ไทรน้อย,01243562470,อ.ไทรน้อย,,หมู่บ้านศุภากร,,1980-9-26
63,2264,วรรณี,N,1100700555,128/20,10700,01010000000,กรุงเทพมหานคร,บางขุนนท์,01010950000,แขวงบางขุนนนท์,01010950052,เขตบางกอกน้อย,CONDOMINIUM,บางกอกน้อยวอเตอร์ไซค์,,1974-4-30
66,2309,ญภัทร,N,1100699618,99/192,10260,01010000000,กรุงเทพมหานคร,ถ.สุขุมวิท,01011120000,แขวงบางจาก,01011120060,เขตพระโขนง,,The base park east,,1981-5-3
73,2392,นพปกรณ์,N,1100678088,11/417 อาคาร A,10240,01010000000,กรุงเทพมหานคร,ถ.รามคำแหง,01010970000,แขวงหัวหมาก,01010970141,เขตบางกะปิ,HOUSE,ลุมพีนี วิลล์ คอนโด,,1976-7-5
74,2402,ปิติ,N,1100462892,99/381,11000,01240000000,จ.นนทบุรี,รัตนาธิเบศร์,01246240000,ต.บางกระสอ,01246243042,อ.เมืองนนทบุรี,HOUSE,3,1,1981-11-17
75,2405,กรพชร,N,1100700227,6/144,10210,01010000000,กรุงเทพมหานคร,ถ.แจ้งวัฒนะ,01010880000,แขวงดอนเมือง,90000000302,เขตดอนเมือง,HOUSE,พฤกษาวิลเลจ ซีนเนอรี่,,1983-11-28
79,2182,นันทภพ,N,1100657814,268,24110,04080000000,จ.ฉะเชิงเทรา,ประชาเนรมิต,04084200000,อ.บางคล้า,04084203082,ต.บางคล้า,บ้านพักอาศัย,,,1990-06-01
84,2233,พันทิวา,N,1100465531,74/2,10330,01010000000,กรุงเทพมหานคร,1,01011080000,แขวงรองเมือง,01011080095,เขตปทุมวัน,,,,1989-7-4
87,2246,สากล,N,1100700721,444 หมู่ 17 นิคมอุตสหกรรมบางพลี ซ.6,10540,01590000000,จ.สมุทรปราการ,เทพารักษ์,01590390000,อ.บางเสาธง,01590393256,ต.บางเสาธง,สำนักงาน,IT section,เอนไกไทย จำกัด,1984-01-13
93,2305,อรวรรณ,N,1100700067,222/53,10540,01590000000,จ.สมุทรปราการ,เทพารักษ์,01594310000,อ.บางพลี,01594313100,ต.บางโฉลง,บ้านพักอาศัย,Casaville,,1983-12-19
101,2337,ณัฏฐพัฒน์,N,1100700075,79/50,10160,01010000000,กรุงเทพมหานคร,เลียบคลองภาษีเจริญฝั่งใต้,01011280000,แขวงหนองแขม,01011280136,เขตหนองแขม,,The Season เพชรเกษม69,,1984-7-30
104,41,นภดล,N,1100700519,asdsa,10140,01010000000,กรุงเทพมหานคร,qwe,01010820000,เขตคลองเตย,01010820008,แขวงคลองเตย,บ้านพักอาศัย,,,2015-10-07
105,1042,ปิติ,N,1100462891,123,12345,01240000000,จ.นนทบุรี,1,01245040000,อ.ปากเกร็ด,01245043714,ต.ปากเกร็ด,บ้านพักอาศัย,123456,BuildRoom,2011-07-30
106,2084,Nun,N,1100702501,2,20170,04090000000,จ.ชลบุรี,เซิดน้อย,04094570000,อ.บ้านบึง,04094573409,ต.บ้านบึง,บ้านพักอาศัย,,,1988-10-30
119,2365,สรีรา,N,1100675320,1046/70,10140,01010000000,กรุงเทพมหานคร,ประชาอุทิศ,01010930000,แขวงทุ่งครุ,01010930044,เขตทุ่งครุ,HOUSE,,,1991-3-21
122,2369,ศิริรัตน์,N,1100690198,25/34,10150,01010000000,กรุงเทพมหานคร,พระราม 2,01010980000,แขวงแสมดำ,01010980135,เขตบางขุนเทียน,HOUSE,หมู่บ้านทาวน์ อเวนิว ไทม์ ท่าข้าม 16,,1986-2-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36104,241722,Thitimont,Y,1100901139,77/45,10900,01010000000,กรุงเทพมหานคร,ลาดพร้าว,01010860000,เขตจตุจักร,90000000011,แขวงจอมพล,บ้านพักอาศัย,,,1985-10-18
36106,242002,หทัยมาศ,N,1100668838,288/92,10540,01010000000,กรุงเทพมหานคร,เลียบคลองสอง,01010840000,แขวงบางชัน,01010840061,เขตคลองสามวา,HOUSE,บุราสิริ ปัญญาอินทรา,,1978-7-10
36110,243522,สัญญาศักดิ์,N,1100653530,15/185 ม.5,12120,01280000000,จ.ปทุมธานี,พหลโยธิน,01282060000,ต.คลองหนึ่ง,01282061029,อ.คลองหลวง,CONDOMINIUM,วนารินทร์3,,1994-10-18
36111,243582,ธนภรณ์,N,1100901786,876 ม.6,67140,06390000000,จ.เพชรบูรณ์,ซับพุทรา-ชนแดน,06398780000,อ.หนองไผ่,06398785818,ต.หนองไผ่,บ้านพักอาศัย,,,1994-07-11
36117,245542,Panita,N,1100902910,99/193 บ้านกลางเมือง s-sense สาทร-ตากสิน2,10150,01010000000,กรุงเทพมหานคร,ซอยสวนหลวง,01010870000,เขตจอมทอง,01010870055,แขวงบางค้อ,บ้านพักอาศัย,,,1989-05-30
36119,256762,ปัทมาภรณ์,N,1100589256,48(166/84) หมู่ 3,10140,01010000000,กรุงเทพมหานคร,ถ.สุขสวัสดิ์,01011180000,แขวงบางประกอก,01011180068,เขตราษฎร์บูรณะ,HOUSE,,,1977-4-19
36122,227602,นิภาพร,N,1100786029,46 ซอยเทียนทะเล 16,10150,01010000000,กรุงเทพมหานคร,บางขุนเทียน-ชายทะเล,01010980000,แขวงแสมดำ,01010980135,เขตบางขุนเทียน,บ้านพักอาศัย,,บ้าน,1989-12-31
36126,232264,Werapun,N,1100896538,589,10400,01010000000,กรุงเทพมหานคร,สุทธิสาร,01010890000,เขตดินแดง,01010890028,แขวงดินแดง,บ้านพักอาศัย,,,1983-09-27
36127,232762,ศุภธิดา,N,1100894651,119/91,73000,03190000000,จ.นครปฐม,,03196190000,ต.บางแขม,03196193077,อ.เมืองนครปฐม,,มบ.The town,,1994-3-20
36132,238842,สุรศักดิ์,N,1100753561,97/79,11000,01240000000,จ.นนทบุรี,ถ.ประชาชื่น,01246240000,ต.บางเขน,01246243074,อ.เมืองนนทบุรี,บ้านพักอาศัย,มบ.เกร็ดแก้วการ์เด้น3,,1957-06-11
36136,242442,Mullika,N,1100901365,188 หมู่ที่ 12,80110,05220000000,จ.นครศรีธรรมราช,ทุ่งสง-ทุ่งใหญ่,05223460000,อ.ทุ่งสง,05223460789,ต.เขาขาว,บ้านพักอาศัย,,,1981-04-17
36139,243122,อัญชนา,N,1100901594,115 ม.12. JC ซ.21,50210,06140000000,จ.เชียงใหม่,เชียงใหม่-ดอยสะเก็ด,06148310000,อ.สันทราย,06148315393,ต.สันนาเม็ง,บ้านพักอาศัย,,,1957-03-14
36141,244063,ภรลภัสริริ,N,1100855906,157,10150,01010000000,กรุงเทพมหานคร,ถ.พรหมราษฎร์,01011040000,แขวงบางบอน,01011040066,เขตบางบอน,,,,1985-7-2
36145,248702,Patipan,N,1100904624,151/1 ถนนนครไชยศรี,10300,01010000000,กรุงเทพมหานคร,151/1 Nakronchaisre Rd Dusit,01010900000,เขตดุสิต,01010900035,แขวงถนนนครไชยศรี,บ้านพักอาศัย,,,1989-10-25
36147,253903,สุภาวรรณ,N,1100908032,1464/1,10260,01010000000,กรุงเทพมหานคร,บางนา-ตราด,01011030000,เขตบางนา,01011030065,แขวงบางนา,บ้านพักอาศัย,เดอะ นิช โมโน พีค บางนา,,1989-12-19
36153,257622,เมธาวี,N,1100910296,หมู่บ้านไลโอ บลิสซ์ เพชรเกษม-ยอแซฟ 299/43 หม...,73110,03190000000,จ.นครปฐม,ซอยเทียนดัด,03198390000,อ.สามพราน,03198392131,ต.ท่าข้าม,บ้านพักอาศัย,,,1987-06-4
36155,258362,ประสิทธิ์,N,1100910690,40/310 หมู่บ้านร่วมทางฝัน3 หมู่7,12120,01280000000,จ.ปทุมธานี,เทพกุญชร2,01282060000,อ.คลองหลวง,01282061023,ต.คลองสอง,บ้านพักอาศัย,The Kith KlongLuang (B3),,1983-05-9
36157,226543,ปู,N,1100893490,16,10140,01010000000,กรุงเทพมหานคร,ประชาอุทิศ 76 แยก5,01010930000,เขตทุ่งครุ,01010930044,แขวงทุ่งครุ,บ้านพักอาศัย,,,1985-10-22
36158,227242,ทิพย์พิมล,N,1100624898,652,10160,01010000000,กรุงเทพมหานคร,เพชรเกษม,01011010000,แขวงหลักสอง,01011010139,เขตบางแค,HOUSE,หมู่บ้านสุขสำราญ,,1981-2-2
36162,229242,ณัฐพงษ์,N,1100796805,211/149,11000,01240000000,จ.นนทบุรี,นครอินทร์,01246240000,ต.บางไผ่,01246243182,อ.เมืองนนทบุรี,,,,1982-12-8
36171,232302,เธียรเทพ,N,1100632562,2114/3,10310,01010000000,กรุงเทพมหานคร,เพชรบุรีตัดใหม่,01011310000,แขวงบางกะปิ,01011310050,เขตห้วยขวาง,,ทีที อพาทเม้นท์,,1978-8-27
36175,232804,นาฏกาญจน์ เสนา,N,1100896655,109 บ้าหนนองโก,71170,03030000000,จ.กาญจนบุรี,-,03038960000,อ.ห้วยกระเจา,03038964987,ต.วังไผ่,บ้านพักอาศัย,,,1976-10-23
36176,234342,อรรถพล,N,1100897061,131/393,10600,01010000000,กรุงเทพมหานคร,เพชรเกษม,01010960000,แขวงวัดท่าพระ,90000000017,เขตบางกอกใหญ่,บ้านพักอาศัย,IDEO ท่าพระอินเตอร์เชนจ์,,1989-1-1
36181,231222,ธนัญญา,N,1100895863,100/280,10240,01010000000,กรุงเทพมหานคร,กรุงเทพกรีฑา,01011240000,เขตสะพานสูง,01011240121,แขวงสะพานสูง,บ้านพักอาศัย,,,1985-12-8
36183,257823,ภาม,N,1100910351,111/974 ซอยร่วมมิตรพัฒนา แยก 7,10220,01010000000,กรุงเทพมหานคร,รามอินทรา,01010990000,เขตบางเขน,01010990043,แขวงท่าแร้ง,บ้านพักอาศัย,,,1961-12-6
36184,258302,Prangsawan,N,1100910661,111/243 อาคาร Knightsbridge Sky River Ocean ชั...,10270,01590000000,จ.สมุทรปราการ,สุขุมวิท,01596590000,อ.เมืองสมุทรปราการ,01596593750,ต.ปากน้ำ,บ้านพักอาศัย,,,1992-04-29
36186,227002,ยศรัล,N,1100818017,8 ม.4,90140,05570000000,จ.สงขลา,ซ.ศรีประดู่,05577130000,ต.บ่อตรุ,05577132962,อ.ระโนด,บ้านพักอาศัย,,,1986-12-28
36200,239722,ระวิวรรณ,N,1100514673,63/25หมู่4,20000,04090000000,จ.ชลบุรี,,04096090000,ต.ห้วยกะปิ,04096096027,อ.เมืองชลบุรี,,,,1970-1-21
36208,247822,ปานตา,N,1100552394,19/19,10170,01010000000,กรุงเทพมหานคร,ศาลาธรรมสพน์,01010920000,แขวงศาลาธรรมสพน์,01010920116,เขตทวีวัฒนา,HOUSE,ธนาภิรมย์,,1988-3-24
36209,248022,ศรัณยพงศ์,N,1100904254,689/995,10800,01010000000,กรุงเทพมหานคร,ประชาชื่น,01011020000,เขตบางซื่อ,01011020063,แขวงบางซื่อ,บ้านพักอาศัย,ศุภาลัย เวอเรนด้า รัชวิภา-ประชาชื่น,,1988-01-21

In [364]:
customer = neww_users_birth['CUSTOMER_ID']
address = neww_users_birth['ADDRESS_POSTAL_CODE']
date = neww_users_birth['DATE_OF_BIRTH']


new_users = pd.concat([customer,address,date], axis=1)
new_users

       CUSTOMER_ID ADDRESS_POSTAL_CODE DATE_OF_BIRTH
0             2083               20170    1988-10-30
13            2390               10250     1986-8-11
16            2406               10150    1983-10-10
21            2412               11110    1989-10-25
22            2413               11000      1982-6-4
24            2416               10280      1982-4-9
26            2082               11120    1976-10-23
27            2142               10140    1988-08-10
32            2291               12130     1984-7-11
36            2316               10250     1995-7-19
42            2391               11110    1988-05-20
52            2426               11130     1979-4-10
53            2085               10330    1997-01-01
57            2229               21140    1983-11-26
59            2243               11150     1980-9-26
63            2264               10700     1974-4-30
66            2309               10260      1981-5-3
73            2392               10240      1976-7-5
74            2402               11000    1981-11-17
75            2405               10210    1983-11-28
79            2182               24110    1990-06-01
84            2233               10330      1989-7-4
87            2246               10540    1984-01-13
93            2305               10540    1983-12-19
101           2337               10160     1984-7-30
104             41               10140    2015-10-07
105           1042               12345    2011-07-30
106           2084               20170    1988-10-30
119           2365               10140     1991-3-21
122           2369               10150      1986-2-1
...            ...                 ...           ...
36104       241722               10900    1985-10-18
36106       242002               10540     1978-7-10
36110       243522               12120    1994-10-18
36111       243582               67140    1994-07-11
36117       245542               10150    1989-05-30
36119       256762               10140     1977-4-19
36122       227602               10150    1989-12-31
36126       232264               10400    1983-09-27
36127       232762               73000     1994-3-20
36132       238842               11000    1957-06-11
36136       242442               80110    1981-04-17
36139       243122               50210    1957-03-14
36141       244063               10150      1985-7-2
36145       248702               10300    1989-10-25
36147       253903               10260    1989-12-19
36153       257622               73110     1987-06-4
36155       258362               12120     1983-05-9
36157       226543               10140    1985-10-22
36158       227242               10160      1981-2-2
36162       229242               11000     1982-12-8
36171       232302               10310     1978-8-27
36175       232804               71170    1976-10-23
36176       234342               10600      1989-1-1
36181       231222               10240     1985-12-8
36183       257823               10220     1961-12-6
36184       258302               10270    1992-04-29
36186       227002               90140    1986-12-28
36200       239722               20000     1970-1-21
36208       247822               10170     1988-3-24
36209       248022               10800    1988-01-21

[10594 rows x 3 columns]

In [365]:
pd.isnull(new_users).sum() > 0

CUSTOMER_ID            False
ADDRESS_POSTAL_CODE    False
DATE_OF_BIRTH          False
dtype: bool

In [366]:
new_users.dtypes

CUSTOMER_ID             int64
ADDRESS_POSTAL_CODE    object
DATE_OF_BIRTH          object
dtype: object

# Convert bd to age

In [367]:
y_m_d = new_users['DATE_OF_BIRTH']
y_m_d[:5]

0     1988-10-30
13     1986-8-11
16    1983-10-10
21    1989-10-25
22      1982-6-4
Name: DATE_OF_BIRTH, dtype: object

In [368]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2018, 2, 7, 13, 33, 53, 858689)

In [369]:
 y = now.year
y

2018

In [370]:
 y- int('1988')

30

In [371]:
from datetime import datetime

def bd_to_age(bd_str):
    datetime_ob = datetime.strptime(bd_str, '%Y-%m-%d').date()
    now = datetime.now().date()
    delta = (now - datetime_ob)
    number_of_days = delta.days
    number_of_years = number_of_days/365
    return number_of_years

In [372]:
bd_to_age('1988-10-30')

29.293150684931508

# Age

In [373]:
 age_dirt = new_users['DATE_OF_BIRTH'].apply(bd_to_age)
age_dirt[:5]

0     29.293151
13    31.515068
16    34.353425
21    28.306849
22    35.704110
Name: DATE_OF_BIRTH, dtype: float64

# รวมแถว

In [377]:
users_all = pd.concat([new_users,age_dirt], axis=1)
users_all[:5]

    CUSTOMER_ID ADDRESS_POSTAL_CODE  DATE_OF_BIRTH  DATE_OF_BIRTH
0          2083               20170     1988-10-30      29.293151
13         2390               10250      1986-8-11      31.515068
16         2406               10150     1983-10-10      34.353425
21         2412               11110     1989-10-25      28.306849
22         2413               11000       1982-6-4      35.704110

In [378]:
users_all['Age_dirt'] = age_dirt

In [379]:
users_all[:5]

    CUSTOMER_ID ADDRESS_POSTAL_CODE  DATE_OF_BIRTH  DATE_OF_BIRTH   Age_dirt
0          2083               20170     1988-10-30      29.293151  29.293151
13         2390               10250      1986-8-11      31.515068  31.515068
16         2406               10150     1983-10-10      34.353425  34.353425
21         2412               11110     1989-10-25      28.306849  28.306849
22         2413               11000       1982-6-4      35.704110  35.704110

# ลบแถวDATE_OF_BIRTH

In [380]:
del users_all['DATE_OF_BIRTH']

users_all[:5]

    CUSTOMER_ID ADDRESS_POSTAL_CODE   Age_dirt
0          2083               20170  29.293151
13         2390               10250  31.515068
16         2406               10150  34.353425
21         2412               11110  28.306849
22         2413               11000  35.704110

# check max of age

In [322]:
users_all.loc[users_all['Age_dirt'].idxmax()]

CUSTOMER_ID              55624
ADDRESS_POSTAL_CODE      11110
Age_dirt               2017.44
Name: 9726, dtype: object

In [327]:
users_clean = users_all[users_all['CUSTOMER_ID'].notnull() & (users_all['Age_dirt'] <= 130)]

users_clean

       CUSTOMER_ID ADDRESS_POSTAL_CODE   Age_dirt
0             2083               20170  29.293151
13            2390               10250  31.515068
16            2406               10150  34.353425
21            2412               11110  28.306849
22            2413               11000  35.704110
24            2416               10280  35.857534
26            2082               11120  41.320548
27            2142               10140  29.515068
32            2291               12130  33.600000
36            2316               10250  22.572603
42            2391               11110  29.739726
52            2426               11130  38.857534
53            2085               10330  21.115068
57            2229               21140  34.224658
59            2243               11150  37.391781
63            2264               10700  43.805479
66            2309               10260  36.791781
73            2392               10240  41.621918
74            2402               11000  36.249315
75            2405               10210  34.219178
79            2182               24110  27.706849
84            2233               10330  28.616438
87            2246               10540  34.093151
93            2305               10540  34.161644
101           2337               10160  33.547945
104             41               10140   2.339726
105           1042               12345   6.531507
106           2084               20170  29.293151
119           2365               10140  26.904110
122           2369               10150  32.038356
...            ...                 ...        ...
36104       241722               10900  32.328767
36106       242002               10540  39.608219
36110       243522               12120  23.323288
36111       243582               67140  23.594521
36117       245542               10150  28.712329
36119       256762               10140  40.832877
36122       227602               10150  28.123288
36126       232264               10400  34.389041
36127       232762               73000  23.904110
36132       238842               11000  60.701370
36136       242442               80110  36.835616
36139       243122               50210  60.945205
36141       244063               10150  32.624658
36145       248702               10300  28.306849
36147       253903               10260  28.156164
36153       257622               73110  30.701370
36155       258362               12120  34.775342
36157       226543               10140  32.317808
36158       227242               10160  37.038356
36162       229242               11000  35.191781
36171       232302               10310  39.476712
36175       232804               71170  41.320548
36176       234342               10600  29.120548
36181       231222               10240  32.189041
36183       257823               10220  56.210959
36184       258302               10270  25.794521
36186       227002               90140  31.134247
36200       239722               20000  48.079452
36208       247822               10170  29.895890
36209       248022               10800  30.068493

[10548 rows x 3 columns]

In [384]:
users_clean.to_csv('../data_cleancustomer.csv')

In [339]:
age_array=users_clean.as_matrix(columns=users_clean.columns[2:])  
age_array

array([[ 29.29315068],
       [ 31.51506849],
       [ 34.35342466],
       ...,
       [ 48.07945205],
       [ 29.89589041],
       [ 30.06849315]])

In [340]:
users_clean.loc[users_clean['Age_dirt'].idxmax()]

CUSTOMER_ID             127807
ADDRESS_POSTAL_CODE      22170
Age_dirt               129.192
Name: 22584, dtype: object

# mean

In [341]:
import numpy as np

mean= np.mean(age_array)
mean

34.133620085090463

# Standard deviation

In [352]:

sd = np.std(age_array)
sd

15.378234564718717

# ขอบบน

In [353]:
upper_bound1 = mean + sd

upper_bound1

49.51185464980918

In [354]:
upper_bound2 = mean + (sd*2)

upper_bound2

64.890089214527904

In [355]:
upper_bound3 = mean + (sd*3)

upper_bound3

80.268323779246614

# ขอบล่าง

In [381]:
lower_bound1 = mean - sd

lower_bound1

18.755385520371746

In [382]:
lower_bound2= mean - (sd*2)

lower_bound2

3.377150955653029

In [383]:
lower_bound3= mean - (sd*3)

lower_bound3

-12.001083609065688