In [1]:
import unicodecsv

#read data from CSV file and make it to lists
def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)

In [87]:
user = read_csv('../data_20180120/customer.csv')

In [102]:
import pandas as pd

users = pd.DataFrame(user)
users[0:]

,CUSTOMER_ID,FIRST_NAME,IS_DESIGNER,BPCODE,ADDRESS_NO,ADDRESS_POSTAL_CODE,ADDRESS_PROVINCE_ID,ADDRESS_PROVINCE,ADDRESS_STREET,ADDRESS_DISTRICT_ID,ADDRESS_DISTRICT,ADDRESS_SUB_DISTRICT_ID,ADDRESS_SUB_DISTRICT,ADDRESS_TYPE,ADDRESS_BUILDING,ADDRESS_OFFICE_NAME,DATE_OF_BIRTH
0,"2,083",ฐนันทิพย์,N,1100698858,2,20170,04090000000,จ.ชลบุรี,เซิดน้อย,04094570000,อ.บ้านบึง,04094573409,ต.บ้านบึง,บ้านพักอาศัย,เอเชีย,Cupcode,1988-10-30
1,"2,102",ทดสอบ002,N,1900036840,,,,,,,,,,,,,
2,"2,223",Ping,N,1900036887,,,,,,,,,,,,,
3,"2,224",มาศสุภา,N,1900036888,,,,,,,,,,,,,
4,"2,284",Tanate,N,1900036922,,,,,,,,,,,,,
5,"2,285",Wana,N,1900036923,,,,,,,,,,,,,
6,"2,289",สมเกียรติ,N,1900036929,,,,,,,,,,,,,
7,"2,303",สโรบล,N,1900036940,,,,,,,,,,,,,
8,"2,307",Priyanut,N,1900036943,,,,,,,,,,,,,
9,"2,321",,N,1100502433,89/131,11120,,Nonthaburi,ราชพฤกษ์,,Bang Phlap,,Pak Kret,HOUSE,ลภาวัน 15,,
10,"2,325",อาลีฟ,N,1100699667,45/54,10210,01010000000,กรุงเทพมหานคร,ถ.งามวงศ์วาน,01011300000,แขวงทุ่งสองห้อง,01011300048,เขตหลักสี่,,CK1,,
11,"2,331",Yarin,N,1900036960,,,,,,,,,,,,,
12,"2,342",Thana,N,1900036971,,,,,,,,,,,,,
13,"2,390",ภิญญามาศ,N,1100700539,770/73,10250,01010000000,กรุงเทพมหานคร,ถ.พัฒนาการ,01011230000,แขวงสวนหลวง,01011230120,เขตสวนหลวง,HOUSE,หมู่บ้านพาทิโอ,,1986-8-11
14,"2,397",Mangpor,N,1900036993,,,,,,,,,,,,,
15,"2,404",Janewit,N,1900036997,,,,,,,,,,,,,
16,"2,406",พัชรา,N,1100698992,ห้อง55/56,10150,01010000000,กรุงเทพมหานคร,ราชพฤกษ์,01010870000,แขวงบางค้อ,01010870055,เขตจอมทอง,CONDOMINIUM,คอนโดIdeo วุฒากาศ,บล.หลักทรัพย์ฟิลลิป,1983-10-10
17,"2,407",Ron,N,1900036999,,,,,,,,,,,,,
18,"2,408",Khwanchai,N,1900037000,,,,,,,,,,,,,
19,"2,410",Visita,N,1900037002,,,,,,,,,,,,,
20,"2,411",Pimpika,N,1900037003,,,,,,,,,,,,,
21,"2,412",ณภัทร,N,1100463792,164/316,11110,01240000000,จ.นนทบุรี,บางกรวย-ไทรน้อย,01244250000,ต.พิมลราช,01244254131,อ.บางบัวทอง,HOUSE,,,1989-10-25
22,"2,413",ทวีศักดิ์,N,1100694276,320/144 (ตึก A ห้อง 1009),11000,01240000000,จ.นนทบุรี,รัตนาธิเบศร์,01246240000,ต.บางกระสอ,01246243042,อ.เมืองนนทบุรี,CONDOMINIUM,ลุมพินีพาร์ค รัตนาธิเบศร์-งามวงศ์วาน,,1982-6-4
23,"2,414",Krittika,N,1900037004,,,,,,,,,,,,,
24,"2,416",ธาราทิพย์,N,1100556743,235/155,10280,01590000000,จ.สมุทรปราการ,,01596590000,ต.บางปูใหม่,01596593178,อ.เมืองสมุทรปราการ,,หมู่บ้านพฤกษาวิลล์49,,1982-4-9
25,"2,417",สมถวิล,N,1100699981,46/34,10220,01010000000,กรุงเทพมหานคร,ถ.สุขาภิบาล 5,01011270000,แขวงสายไหม,01011270126,เขตสายไหม,,มบ.ภคมน,,
26,"2,082",ปิยมาศ,N,1100500779,8,11120,01240000000,จ.นนทบุรี,-,01245040000,ต.ปากเกร็ด,01245043714,อ.ปากเกร็ด,บ้านพักอาศัย,หมู่1,-,1976-10-23
27,"2,142",kanyarat,N,1100810163,152,10140,01010000000,กรุงเทพมหานคร,พุทธบูชา,01010930000,เขตทุ่งครุ,01010930073,แขวงบางมด,บ้านพักอาศัย,,,1988-08-10
28,"2,202",Juthathip,Y,1900036883,,,,,,,,,,,,,
29,"2,265",Muangpra,N,1900036917,,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36182,"254,102",จตุพร,N,1100908091,88 อาคารเอพีนครินทร์ ชั้น8 ซ.ลาซาล58,10260,01010000000,กรุงเทพมหานคร,ลาซาล,01011030000,เขตบางนา,01011030065,แขวงบางนา,สำนักงาน,อาคารเอพีนครินทร์,บริษัทศูนย์ฟอกไตนครินทร์,
36183,"257,823",ภาม,N,1100910351,111/974 ซอยร่วมมิตรพัฒนา แยก 7,10220,01010000000,กรุงเทพมหานคร,รามอินทรา,01010990000,เขตบางเขน,01010990043,แขวงท่าแร้ง,บ้านพักอาศัย,,,1961-12-6
36184,"258,302",Prangsawan,N,1100910661,111/243 อาคาร Knightsbridge Sky River Ocean ชั...,10270,01590000000,จ.สมุทรปราการ,สุขุมวิท,01596590000,อ.เมืองสมุทรปราการ,01596593750,ต.ปากน้ำ,บ้านพักอาศัย,,,1992-04-29
36185,"259,463",Navavit,N,1900112634,,,,,,,,,,,,,
36186,"227,002",ยศรัล,N,1100818017,8 ม.4,90140,05570000000,จ.สงขลา,ซ.ศรีประดู่,05577130000,ต.บ่อตรุ,05577132962,อ.ระโนด,บ้านพักอาศัย,,,1986-12-28
36187,"227,922",Kewalee,N,1900107905,,,,,,,,,,,,,
36188,"228,602",Pantiwa,N,1900107974,,,,,,,,,,,,,
36189,"231,302",สองสาว,N,1900108300,,,,,,,,,,,,,
36190,"231,562",Pisit,N,1900108327,,,,,,,,,,,,,
36191,"231,782",Wiwat,N,1900108363,,,,,,,,,,,,,
36192,"234,442",มยุรี,N,1900106626,,,,,,,,,,,,,
36193,"234,882",Janejira,N,1900108819,,,,,,,,,,,,,
36194,"235,486",rachasak,N,1900108917,,,,,,,,,,,,,
36195,"236,162",ศุนิสา,N,1900109003,,,,,,,,,,,,,
36196,"236,442",จุฑามาส,N,1100373488,14/100,83130,05410000000,จ.ภูเก็ต,ถ.ใสยวน,05416410000,ต.ราไวย์,05416414716,อ.เมืองภูเก็ต,,,,
36197,"237,902",สุปราณี,N,1100899613,Sukhumvit23,,,,Sukhumvit,,,,,บ้านพักอาศัย,Edge Sukhumvit23,,
36198,"238,722",subin,N,1900109334,,,,,,,,,,,,,
36199,"239,025",อัครพล,N,1900109374,,,,,,,,,,,,,
36200,"239,722",ระวิวรรณ,N,1100514673,63/25หมู่4,20000,04090000000,จ.ชลบุรี,,04096090000,ต.ห้วยกะปิ,04096096027,อ.เมืองชลบุรี,,,,1970-1-21
36201,"240,242",MICHAEL,N,1900109550,,,,,,,,,,,,,
36202,"240,302",ทัศเทพ,N,1900109556,,,,,,,,,,,,,
36203,"241,622",เด็กชาย,N,1900109701,,,,,,,,,,,,,
36204,"244,542",KwanTida,N,1900110147,,,,,,,,,,,,,
36205,"245,202",Ajarn,N,1900110219,,,,,,,,,,,,,
36206,"246,442",ณรงค์,N,1100592829,139/1 ม.4,30170,02210000000,จ.นครราชสีมา,,02218560000,ต.สูงเนิน,02218565533,อ.สูงเนิน,,มบ.เหล่าพัฒนา,,
36207,"246,703",Jump,N,1900110429,,,,,,,,,,,,,
36208,"247,822",ปานตา,N,1100552394,19/19,10170,01010000000,กรุงเทพมหานคร,ศาลาธรรมสพน์,01010920000,แขวงศาลาธรรมสพน์,01010920116,เขตทวีวัฒนา,HOUSE,ธนาภิรมย์,,1988-3-24
36209,"248,022",ศรัณยพงศ์,N,1100904254,689/995,10800,01010000000,กรุงเทพมหานคร,ประชาชื่น,01011020000,เขตบางซื่อ,01011020063,แขวงบางซื่อ,บ้านพักอาศัย,ศุภาลัย เวอเรนด้า รัชวิภา-ประชาชื่น,,1988-01-21
36210,"248,362",Serenata,N,1900110661,,,,,,,,,,,,,
36211,"248,462",ขวัญดาว,N,1100904594,782,10140,01010000000,กรุงเทพมหานคร,เจริญนคร,01011180000,เขตราษฎร์บูรณะ,01011180068,แขวงบางประกอก,HOME,,,

ข้อมูลลูกค้า

In [89]:
users['CUSTOMER_ID']

0          2,083
1          2,102
2          2,223
3          2,224
4          2,284
5          2,285
6          2,289
7          2,303
8          2,307
9          2,321
10         2,325
11         2,331
12         2,342
13         2,390
14         2,397
15         2,404
16         2,406
17         2,407
18         2,408
19         2,410
20         2,411
21         2,412
22         2,413
23         2,414
24         2,416
25         2,417
26         2,082
27         2,142
28         2,202
29         2,265
          ...
36182    254,102
36183    257,823
36184    258,302
36185    259,463
36186    227,002
36187    227,922
36188    228,602
36189    231,302
36190    231,562
36191    231,782
36192    234,442
36193    234,882
36194    235,486
36195    236,162
36196    236,442
36197    237,902
36198    238,722
36199    239,025
36200    239,722
36201    240,242
36202    240,302
36203    241,622
36204    244,542
36205    245,202
36206    246,442
36207    246,703
36208    247,822
36209    248,022
36210    248,362
36211    248,462
Name: CUSTOMER_ID, Length: 36212, dtype: object

In [90]:
users['DATE_OF_BIRTH']

0        1988-10-30
1
2
3
4
5
6
7
8
9
10
11
12
13        1986-8-11
14
15
16       1983-10-10
17
18
19
20
21       1989-10-25
22         1982-6-4
23
24         1982-4-9
25
26       1976-10-23
27       1988-08-10
28
29
            ...
36182
36183     1961-12-6
36184    1992-04-29
36185
36186    1986-12-28
36187
36188
36189
36190
36191
36192
36193
36194
36195
36196
36197
36198
36199
36200     1970-1-21
36201
36202
36203
36204
36205
36206
36207
36208     1988-3-24
36209    1988-01-21
36210
36211
Name: DATE_OF_BIRTH, Length: 36212, dtype: object

In [91]:
ID = users['CUSTOMER_ID']
ID[0:]

0          2,083
1          2,102
2          2,223
3          2,224
4          2,284
5          2,285
6          2,289
7          2,303
8          2,307
9          2,321
10         2,325
11         2,331
12         2,342
13         2,390
14         2,397
15         2,404
16         2,406
17         2,407
18         2,408
19         2,410
20         2,411
21         2,412
22         2,413
23         2,414
24         2,416
25         2,417
26         2,082
27         2,142
28         2,202
29         2,265
          ...
36182    254,102
36183    257,823
36184    258,302
36185    259,463
36186    227,002
36187    227,922
36188    228,602
36189    231,302
36190    231,562
36191    231,782
36192    234,442
36193    234,882
36194    235,486
36195    236,162
36196    236,442
36197    237,902
36198    238,722
36199    239,025
36200    239,722
36201    240,242
36202    240,302
36203    241,622
36204    244,542
36205    245,202
36206    246,442
36207    246,703
36208    247,822
36209    248,022
36210    248,362
36211    248,462
Name: CUSTOMER_ID, Length: 36212, dtype: object

In [92]:
BD = users['DATE_OF_BIRTH']
BD[0:]

0        1988-10-30
1
2
3
4
5
6
7
8
9
10
11
12
13        1986-8-11
14
15
16       1983-10-10
17
18
19
20
21       1989-10-25
22         1982-6-4
23
24         1982-4-9
25
26       1976-10-23
27       1988-08-10
28
29
            ...
36182
36183     1961-12-6
36184    1992-04-29
36185
36186    1986-12-28
36187
36188
36189
36190
36191
36192
36193
36194
36195
36196
36197
36198
36199
36200     1970-1-21
36201
36202
36203
36204
36205
36206
36207
36208     1988-3-24
36209    1988-01-21
36210
36211
Name: DATE_OF_BIRTH, Length: 36212, dtype: object

In [93]:
result = pd.concat([ID, BD], axis=1)

In [144]:
result

      CUSTOMER_ID DATE_OF_BIRTH ADDRESS_POSTAL_CODE
0           2,083    1988-10-30               20170
1             NaN           NaN
2             NaN           NaN
3             NaN           NaN
4             NaN           NaN
5             NaN           NaN
6             NaN           NaN
7             NaN           NaN
8             NaN           NaN
9             NaN           NaN               11120
10            NaN           NaN               10210
11            NaN           NaN
12            NaN           NaN
13          2,390     1986-8-11               10250
14            NaN           NaN
15            NaN           NaN
16          2,406    1983-10-10               10150
17            NaN           NaN
18            NaN           NaN
19            NaN           NaN
20            NaN           NaN
21          2,412    1989-10-25               11110
22          2,413      1982-6-4               11000
23            NaN           NaN
24          2,416      1982-4-9               10280
25            NaN           NaN               10220
26          2,082    1976-10-23               11120
27          2,142    1988-08-10               10140
28            NaN           NaN
29            NaN           NaN
...           ...           ...                 ...
36182         NaN           NaN               10260
36183     257,823     1961-12-6               10220
36184     258,302    1992-04-29               10270
36185         NaN           NaN
36186     227,002    1986-12-28               90140
36187         NaN           NaN
36188         NaN           NaN
36189         NaN           NaN
36190         NaN           NaN
36191         NaN           NaN
36192         NaN           NaN
36193         NaN           NaN
36194         NaN           NaN
36195         NaN           NaN
36196         NaN           NaN               83130
36197         NaN           NaN
36198         NaN           NaN
36199         NaN           NaN
36200     239,722     1970-1-21               20000
36201         NaN           NaN
36202         NaN           NaN
36203         NaN           NaN
36204         NaN           NaN
36205         NaN           NaN
36206         NaN           NaN               30170
36207         NaN           NaN
36208     247,822     1988-3-24               10170
36209     248,022    1988-01-21               10800
36210         NaN           NaN
36211         NaN           NaN               10140

[36212 rows x 3 columns]

In [135]:
brith_not_null = result[result['DATE_OF_BIRTH'].notnull() &(result['DATE_OF_BIRTH'] != "")]
brith_not_null

      CUSTOMER_ID DATE_OF_BIRTH ADDRESS_POSTAL_CODE
0           2,083    1988-10-30               20170
13          2,390     1986-8-11               10250
16          2,406    1983-10-10               10150
21          2,412    1989-10-25               11110
22          2,413      1982-6-4               11000
24          2,416      1982-4-9               10280
26          2,082    1976-10-23               11120
27          2,142    1988-08-10               10140
32          2,291     1984-7-11               12130
36          2,316     1995-7-19               10250
42          2,391    1988-05-20               11110
52          2,426     1979-4-10               11130
53          2,085    1997-01-01               10330
57          2,229    1983-11-26               21140
59          2,243     1980-9-26               11150
63          2,264     1974-4-30               10700
66          2,309      1981-5-3               10260
73          2,392      1976-7-5               10240
74          2,402    1981-11-17               11000
75          2,405    1983-11-28               10210
79          2,182    1990-06-01               24110
84          2,233      1989-7-4               10330
87          2,246    1984-01-13               10540
93          2,305    1983-12-19               10540
101         2,337     1984-7-30               10160
104            41    2015-10-07               10140
105         1,042    2011-07-30               12345
106         2,084    1988-10-30               20170
119         2,365     1991-3-21               10140
122         2,369      1986-2-1               10150
...           ...           ...                 ...
36104     241,722    1985-10-18               10900
36106     242,002     1978-7-10               10540
36110     243,522    1994-10-18               12120
36111     243,582    1994-07-11               67140
36117     245,542    1989-05-30               10150
36119     256,762     1977-4-19               10140
36122     227,602    1989-12-31               10150
36126     232,264    1983-09-27               10400
36127     232,762     1994-3-20               73000
36132     238,842    1957-06-11               11000
36136     242,442    1981-04-17               80110
36139     243,122    1957-03-14               50210
36141     244,063      1985-7-2               10150
36145     248,702    1989-10-25               10300
36147     253,903    1989-12-19               10260
36153     257,622     1987-06-4               73110
36155     258,362     1983-05-9               12120
36157     226,543    1985-10-22               10140
36158     227,242      1981-2-2               10160
36162     229,242     1982-12-8               11000
36171     232,302     1978-8-27               10310
36175     232,804    1976-10-23               71170
36176     234,342      1989-1-1               10600
36181     231,222     1985-12-8               10240
36183     257,823     1961-12-6               10220
36184     258,302    1992-04-29               10270
36186     227,002    1986-12-28               90140
36200     239,722     1970-1-21               20000
36208     247,822     1988-3-24               10170
36209     248,022    1988-01-21               10800

[10594 rows x 3 columns]

In [136]:
AD = users['ADDRESS_POSTAL_CODE']
AD

0        20170
1
2
3
4
5
6
7
8
9        11120
10       10210
11
12
13       10250
14
15
16       10150
17
18
19
20
21       11110
22       11000
23
24       10280
25       10220
26       11120
27       10140
28
29
         ...
36182    10260
36183    10220
36184    10270
36185
36186    90140
36187
36188
36189
36190
36191
36192
36193
36194
36195
36196    83130
36197
36198
36199
36200    20000
36201
36202
36203
36204
36205
36206    30170
36207
36208    10170
36209    10800
36210
36211    10140
Name: ADDRESS_POSTAL_CODE, Length: 36212, dtype: object

In [146]:
results = pd.concat([ID,BD,AD], axis=1)
results

      CUSTOMER_ID DATE_OF_BIRTH ADDRESS_POSTAL_CODE
0           2,083    1988-10-30               20170
1           2,102
2           2,223
3           2,224
4           2,284
5           2,285
6           2,289
7           2,303
8           2,307
9           2,321                             11120
10          2,325                             10210
11          2,331
12          2,342
13          2,390     1986-8-11               10250
14          2,397
15          2,404
16          2,406    1983-10-10               10150
17          2,407
18          2,408
19          2,410
20          2,411
21          2,412    1989-10-25               11110
22          2,413      1982-6-4               11000
23          2,414
24          2,416      1982-4-9               10280
25          2,417                             10220
26          2,082    1976-10-23               11120
27          2,142    1988-08-10               10140
28          2,202
29          2,265
...           ...           ...                 ...
36182     254,102                             10260
36183     257,823     1961-12-6               10220
36184     258,302    1992-04-29               10270
36185     259,463
36186     227,002    1986-12-28               90140
36187     227,922
36188     228,602
36189     231,302
36190     231,562
36191     231,782
36192     234,442
36193     234,882
36194     235,486
36195     236,162
36196     236,442                             83130
36197     237,902
36198     238,722
36199     239,025
36200     239,722     1970-1-21               20000
36201     240,242
36202     240,302
36203     241,622
36204     244,542
36205     245,202
36206     246,442                             30170
36207     246,703
36208     247,822     1988-3-24               10170
36209     248,022    1988-01-21               10800
36210     248,362
36211     248,462                             10140

[36212 rows x 3 columns]

In [164]:
add_not_null = results [results['ADDRESS_POSTAL_CODE'].notnull() & (results['ADDRESS_POSTAL_CODE'] != "") & (results['DATE_OF_BIRTH'].notnull() &(results['DATE_OF_BIRTH'] != ""))]


add_not_null

      CUSTOMER_ID DATE_OF_BIRTH ADDRESS_POSTAL_CODE
0           2,083    1988-10-30               20170
13          2,390     1986-8-11               10250
16          2,406    1983-10-10               10150
21          2,412    1989-10-25               11110
22          2,413      1982-6-4               11000
24          2,416      1982-4-9               10280
26          2,082    1976-10-23               11120
27          2,142    1988-08-10               10140
32          2,291     1984-7-11               12130
36          2,316     1995-7-19               10250
42          2,391    1988-05-20               11110
52          2,426     1979-4-10               11130
53          2,085    1997-01-01               10330
57          2,229    1983-11-26               21140
59          2,243     1980-9-26               11150
63          2,264     1974-4-30               10700
66          2,309      1981-5-3               10260
73          2,392      1976-7-5               10240
74          2,402    1981-11-17               11000
75          2,405    1983-11-28               10210
79          2,182    1990-06-01               24110
84          2,233      1989-7-4               10330
87          2,246    1984-01-13               10540
93          2,305    1983-12-19               10540
101         2,337     1984-7-30               10160
104            41    2015-10-07               10140
105         1,042    2011-07-30               12345
106         2,084    1988-10-30               20170
119         2,365     1991-3-21               10140
122         2,369      1986-2-1               10150
...           ...           ...                 ...
36104     241,722    1985-10-18               10900
36106     242,002     1978-7-10               10540
36110     243,522    1994-10-18               12120
36111     243,582    1994-07-11               67140
36117     245,542    1989-05-30               10150
36119     256,762     1977-4-19               10140
36122     227,602    1989-12-31               10150
36126     232,264    1983-09-27               10400
36127     232,762     1994-3-20               73000
36132     238,842    1957-06-11               11000
36136     242,442    1981-04-17               80110
36139     243,122    1957-03-14               50210
36141     244,063      1985-7-2               10150
36145     248,702    1989-10-25               10300
36147     253,903    1989-12-19               10260
36153     257,622     1987-06-4               73110
36155     258,362     1983-05-9               12120
36157     226,543    1985-10-22               10140
36158     227,242      1981-2-2               10160
36162     229,242     1982-12-8               11000
36171     232,302     1978-8-27               10310
36175     232,804    1976-10-23               71170
36176     234,342      1989-1-1               10600
36181     231,222     1985-12-8               10240
36183     257,823     1961-12-6               10220
36184     258,302    1992-04-29               10270
36186     227,002    1986-12-28               90140
36200     239,722     1970-1-21               20000
36208     247,822     1988-3-24               10170
36209     248,022    1988-01-21               10800

[10285 rows x 3 columns]