In [148]:
import unicodecsv
import pandas as pd
#read data from CSV file and make it to lists
def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)

In [149]:
user = read_csv('../data_20180120/customer.csv')

In [150]:
users = pd.DataFrame(user)
users[:5]

,CUSTOMER_ID,FIRST_NAME,IS_DESIGNER,BPCODE,ADDRESS_NO,ADDRESS_POSTAL_CODE,ADDRESS_PROVINCE_ID,ADDRESS_PROVINCE,ADDRESS_STREET,ADDRESS_DISTRICT_ID,ADDRESS_DISTRICT,ADDRESS_SUB_DISTRICT_ID,ADDRESS_SUB_DISTRICT,ADDRESS_TYPE,ADDRESS_BUILDING,ADDRESS_OFFICE_NAME,DATE_OF_BIRTH
0,"2,083",ฐนันทิพย์,N,1100698858,2,20170,04090000000,จ.ชลบุรี,เซิดน้อย,04094570000,อ.บ้านบึง,04094573409,ต.บ้านบึง,บ้านพักอาศัย,เอเชีย,Cupcode,1988-10-30
1,"2,102",ทดสอบ002,N,1900036840,,,,,,,,,,,,,
2,"2,223",Ping,N,1900036887,,,,,,,,,,,,,
3,"2,224",มาศสุภา,N,1900036888,,,,,,,,,,,,,
4,"2,284",Tanate,N,1900036922,,,,,,,,,,,,,

In [151]:
len(users)

36212

In [152]:
import locale
locale.setlocale(locale.LC_ALL, '') 

neww_users = users[:]

neww_users['CUSTOMER_ID'] = users['CUSTOMER_ID'].apply(locale.atoi)
neww_users_birth = neww_users[neww_users['DATE_OF_BIRTH'].notnull() & (neww_users['DATE_OF_BIRTH'] != "")]

neww_users_birth[:5]

,CUSTOMER_ID,FIRST_NAME,IS_DESIGNER,BPCODE,ADDRESS_NO,ADDRESS_POSTAL_CODE,ADDRESS_PROVINCE_ID,ADDRESS_PROVINCE,ADDRESS_STREET,ADDRESS_DISTRICT_ID,ADDRESS_DISTRICT,ADDRESS_SUB_DISTRICT_ID,ADDRESS_SUB_DISTRICT,ADDRESS_TYPE,ADDRESS_BUILDING,ADDRESS_OFFICE_NAME,DATE_OF_BIRTH
0,2083,ฐนันทิพย์,N,1100698858,2,20170,04090000000,จ.ชลบุรี,เซิดน้อย,04094570000,อ.บ้านบึง,04094573409,ต.บ้านบึง,บ้านพักอาศัย,เอเชีย,Cupcode,1988-10-30
13,2390,ภิญญามาศ,N,1100700539,770/73,10250,01010000000,กรุงเทพมหานคร,ถ.พัฒนาการ,01011230000,แขวงสวนหลวง,01011230120,เขตสวนหลวง,HOUSE,หมู่บ้านพาทิโอ,,1986-8-11
16,2406,พัชรา,N,1100698992,ห้อง55/56,10150,01010000000,กรุงเทพมหานคร,ราชพฤกษ์,01010870000,แขวงบางค้อ,01010870055,เขตจอมทอง,CONDOMINIUM,คอนโดIdeo วุฒากาศ,บล.หลักทรัพย์ฟิลลิป,1983-10-10
21,2412,ณภัทร,N,1100463792,164/316,11110,01240000000,จ.นนทบุรี,บางกรวย-ไทรน้อย,01244250000,ต.พิมลราช,01244254131,อ.บางบัวทอง,HOUSE,,,1989-10-25
22,2413,ทวีศักดิ์,N,1100694276,320/144 (ตึก A ห้อง 1009),11000,01240000000,จ.นนทบุรี,รัตนาธิเบศร์,01246240000,ต.บางกระสอ,01246243042,อ.เมืองนนทบุรี,CONDOMINIUM,ลุมพินีพาร์ค รัตนาธิเบศร์-งามวงศ์วาน,,1982-6-4

In [153]:
customer = neww_users_birth['CUSTOMER_ID']
address = neww_users_birth['ADDRESS_POSTAL_CODE']
date = neww_users_birth['DATE_OF_BIRTH']


new_users = pd.concat([customer,address,date], axis=1)
new_users[:5]

    CUSTOMER_ID ADDRESS_POSTAL_CODE DATE_OF_BIRTH
0          2083               20170    1988-10-30
13         2390               10250     1986-8-11
16         2406               10150    1983-10-10
21         2412               11110    1989-10-25
22         2413               11000      1982-6-4

# check จำนวน address

In [154]:
len(address)

10594

# check จำนวน date

In [155]:
len(date)

10594

# จำนวนในตารางที่มี id&address

In [187]:
new_users_2 = pd.concat([customer,address], axis=1)
new_users_2[:5]

    CUSTOMER_ID ADDRESS_POSTAL_CODE
0          2083               20170
13         2390               10250
16         2406               10150
21         2412               11110
22         2413               11000

# check null

In [184]:
pd.isnull(new_users_2).sum()>0

CUSTOMER_ID            False
ADDRESS_POSTAL_CODE    False
DATE_OF_BIRTH          False
dtype: bool

In [188]:
new_users_2.to_csv('../data_clean/customer_address.csv', index = False)

In [189]:
len(new_users_2)

10594

In [192]:
new_users.dtypes

CUSTOMER_ID             int64
ADDRESS_POSTAL_CODE    object
DATE_OF_BIRTH          object
dtype: object

# Convert date to age

In [193]:
y_m_d = new_users['DATE_OF_BIRTH']
y_m_d[:5]

0     1988-10-30
13     1986-8-11
16    1983-10-10
21    1989-10-25
22      1982-6-4
Name: DATE_OF_BIRTH, dtype: object

In [194]:

from datetime import datetime
now = datetime.now()
now

datetime.datetime(2018, 2, 12, 11, 3, 58, 622030)

In [197]:
 y = now.year
y

2018

In [198]:
 y- int('1988')

30

In [199]:
from datetime import datetime

def bd_to_age(bd_str):
    datetime_ob = datetime.strptime(bd_str, '%Y-%m-%d').date()
    now = datetime.now().date()
    delta = (now - datetime_ob)
    number_of_days = delta.days
    number_of_years = number_of_days/365
    return number_of_years

In [200]:
bd_to_age('1988-10-30')

29.306849315068494

# Age

In [201]:
 age_dirt = new_users['DATE_OF_BIRTH'].apply(bd_to_age)
age_dirt[:5]

0     29.306849
13    31.528767
16    34.367123
21    28.320548
22    35.717808
Name: DATE_OF_BIRTH, dtype: float64

In [202]:
len(age_dirt)

10594

# รวมแถวที่มี id&address&date

In [203]:
users_all = pd.concat([new_users,age_dirt], axis=1)
users_all[:5]

    CUSTOMER_ID ADDRESS_POSTAL_CODE  DATE_OF_BIRTH  DATE_OF_BIRTH
0          2083               20170     1988-10-30      29.306849
13         2390               10250      1986-8-11      31.528767
16         2406               10150     1983-10-10      34.367123
21         2412               11110     1989-10-25      28.320548
22         2413               11000       1982-6-4      35.717808

In [204]:
users_all['Age_dirt'] = age_dirt

In [206]:
users_all[:5]

    CUSTOMER_ID ADDRESS_POSTAL_CODE  DATE_OF_BIRTH  DATE_OF_BIRTH   Age_dirt
0          2083               20170     1988-10-30      29.306849  29.306849
13         2390               10250      1986-8-11      31.528767  31.528767
16         2406               10150     1983-10-10      34.367123  34.367123
21         2412               11110     1989-10-25      28.320548  28.320548
22         2413               11000       1982-6-4      35.717808  35.717808

# ลบแถวDATE_OF_BIRTH

In [207]:
del users_all['DATE_OF_BIRTH']

users_all[:5]

    CUSTOMER_ID ADDRESS_POSTAL_CODE   Age_dirt
0          2083               20170  29.306849
13         2390               10250  31.528767
16         2406               10150  34.367123
21         2412               11110  28.320548
22         2413               11000  35.717808

In [208]:
len(users_all)

10594

# check max of age

In [209]:
users_all.loc[users_all['Age_dirt'].idxmax()]

CUSTOMER_ID              55624
ADDRESS_POSTAL_CODE      11110
Age_dirt               2017.45
Name: 9726, dtype: object

# กำหนดเอาค่าอายุระหว่าง15-130ปี

In [212]:
users_clean = users_all[users_all['CUSTOMER_ID'].notnull() & (users_all['ADDRESS_POSTAL_CODE'].notnull() )& (users_all['Age_dirt'] <= 130) & (users_all['Age_dirt'] >= 15)]

users_clean[:5]

    CUSTOMER_ID ADDRESS_POSTAL_CODE   Age_dirt
0          2083               20170  29.306849
13         2390               10250  31.528767
16         2406               10150  34.367123
21         2412               11110  28.320548
22         2413               11000  35.717808

In [213]:
users_all.dtypes

CUSTOMER_ID              int64
ADDRESS_POSTAL_CODE     object
Age_dirt               float64
dtype: object

# ดังนั้นข้อมูลที่cleanทั้งหมดมี 10,163

In [214]:
len(users_clean )

10163

In [216]:
len(users_all)

10594

In [217]:
users_clean.dtypes

CUSTOMER_ID              int64
ADDRESS_POSTAL_CODE     object
Age_dirt               float64
dtype: object

In [219]:
pd.isnull(users_clean).sum() > 0

CUSTOMER_ID            False
ADDRESS_POSTAL_CODE    False
Age_dirt               False
dtype: bool

In [220]:
users_clean.to_csv('../data_clean/customer.csv', index = False)

In [221]:
age_array=users_clean.as_matrix(columns=users_clean.columns[2:])  
age_array

array([[ 29.30684932],
       [ 31.52876712],
       [ 34.36712329],
       ...,
       [ 48.09315068],
       [ 29.90958904],
       [ 30.08219178]])

# check max min

In [222]:
users_clean.loc[users_clean['Age_dirt'].idxmax()]

CUSTOMER_ID             127807
ADDRESS_POSTAL_CODE      22170
Age_dirt               129.205
Name: 22584, dtype: object

In [223]:
users_clean.loc[users_clean['Age_dirt'].idxmin()]

CUSTOMER_ID              82105
ADDRESS_POSTAL_CODE      10540
Age_dirt               15.2274
Name: 17863, dtype: object

# mean

In [100]:
import numpy as np

mean= np.mean(age_array)
mean

35.574384923015131