# Checklist
ขั้นตอนทั้งหมดที่ต้องทำกับทุกตาราง
1. Name 
2. Type (Category, int/float, bounded/unbounded, text, structured, etc.)
3. % of missing values
4. Type of distribution (Gaussian, uniform, logarithmic, etc.)
5. Noisiness and type of noise (stochastic, outliers, rounding errors, etc.)
6. Possibly useful for the task?

# Ideabook

In [40]:
import pandas as pd

ideabook = pd.read_csv('../../2_data/20180319/ideabook.csv')
print(ideabook.shape)
ideabook.head()

(41735, 5)

  IDEABOOK_ID CUSTOMER_ID            NAME DESCRIPTION  IDEABOOK_TYPE
0       2,020       1,042  Mobile uploads         NaN  MOBILE_UPLOAD
1       3,060       2,082  Mobile uploads         NaN  MOBILE_UPLOAD
2       3,080       2,102  Mobile uploads         NaN  MOBILE_UPLOAD
3       3,141       2,163  Mobile uploads         NaN  MOBILE_UPLOAD
4       3,204       2,226  Mobile uploads         NaN  MOBILE_UPLOAD

In [5]:
ideabook['NAME'].unique()

array(['Mobile uploads', 'Home Decoration', 'Supalai Rachathewee', ...,
       'ตู้โชว์ 1', 'diningroom', 'B-DOHS'], dtype=object)

In [7]:
ideabook['IDEABOOK_TYPE'].unique()

array(['MOBILE_UPLOAD', 'ITEM'], dtype=object)

### 2. Type (Category, int/float, bounded/unbounded, text, structured, etc.)

In [8]:
ideabook.dtypes

IDEABOOK_ID      object
CUSTOMER_ID      object
NAME             object
DESCRIPTION      object
IDEABOOK_TYPE    object
dtype: object

id ต้องเป็น int

In [78]:
import locale
locale.setlocale(locale.LC_ALL, '') 

new_ideabook = ideabook[:]
new_ideabook['IDEABOOK_ID'] = ideabook['IDEABOOK_ID'].apply(locale.atoi)
new_ideabook['CUSTOMER_ID'] = ideabook['CUSTOMER_ID'].apply(locale.atoi)
new_ideabook.head()

   IDEABOOK_ID  CUSTOMER_ID            NAME DESCRIPTION  IDEABOOK_TYPE
0         2020         1042  Mobile uploads         NaN  MOBILE_UPLOAD
1         3060         2082  Mobile uploads         NaN  MOBILE_UPLOAD
2         3080         2102  Mobile uploads         NaN  MOBILE_UPLOAD
3         3141         2163  Mobile uploads         NaN  MOBILE_UPLOAD
4         3204         2226  Mobile uploads         NaN  MOBILE_UPLOAD

In [79]:
new_ideabook.dtypes

IDEABOOK_ID       int64
CUSTOMER_ID       int64
NAME             object
DESCRIPTION      object
IDEABOOK_TYPE    object
dtype: object

In [80]:
new_ideabook.isnull().sum(axis=0)

IDEABOOK_ID          0
CUSTOMER_ID          0
NAME                 1
DESCRIPTION      41417
IDEABOOK_TYPE        0
dtype: int64

ลบ column ที่จะไม่ได้ใช้

In [83]:
if 'DESCRIPTION' in new_ideabook:
    del new_ideabook['DESCRIPTION']
if 'NAME' in new_ideabook:
    del new_ideabook['NAME']
if 'IDEABOOK_TYPE' in new_ideabook:
    del new_ideabook['IDEABOOK_TYPE']

In [84]:
new_ideabook.head()

   IDEABOOK_ID  CUSTOMER_ID
0         2020         1042
1         3060         2082
2         3080         2102
3         3141         2163
4         3204         2226

### Export to CSV

In [85]:
new_ideabook.to_csv('../../2_data/explored/ideabook.csv', index = False)

# Ideabook Item

In [15]:
ideabook_item = pd.read_csv('../../2_data/20180319/ideabook_item.csv')
print(ideabook_item.shape)
ideabook_item.head()

(21463, 7)

,ITEM_ID,IDEABOOK_ID,MATNR,INSPIRATION_ID,IMAGE_ID,ITEM_TYPE,PHOTO_ID
0,"2,002",981,NaN,144,NaN,INSPIRATION,NaN
1,"3,103","3,225",19014714.0,NaN,NaN,MDM_CYBER,NaN
2,"3,104","3,225",59008884.0,NaN,NaN,MDM_CYBER,NaN
3,"3,149","3,330",19077181.0,NaN,NaN,MDM_CYBER,NaN
4,"3,323","3,501",19055703.0,NaN,NaN,MDM_CYBER,NaN

In [44]:
ideabook_item.isnull().sum(axis=0)

ITEM_ID               0
IDEABOOK_ID           0
MATNR              1716
INSPIRATION_ID    20122
IMAGE_ID          21463
ITEM_TYPE             0
PHOTO_ID          21089
dtype: int64

In [53]:
len(ideabook_item[ideabook_item['ITEM_TYPE'] == 'MDM_CYBER'])

19747

เอาเฉพาะ 'ITEM_TYPE' == 'MDM_CYBER' เพราะเป็นประเภทของ IDEABOOK ที่เกี่ยวกับสินค้าที่ขาย อย่างอื่นไม่มีอะไรเกี่ยว

In [54]:
ideabook_item2 = ideabook_item[ideabook_item['ITEM_TYPE'] == 'MDM_CYBER']

### 2. Type (Category, int/float, bounded/unbounded, text, structured, etc.)

In [56]:
ideabook_item2.dtypes

ITEM_ID            object
IDEABOOK_ID        object
MATNR             float64
INSPIRATION_ID     object
IMAGE_ID          float64
ITEM_TYPE          object
PHOTO_ID           object
dtype: object

id ต้อง เป็น int

In [70]:
import locale
locale.setlocale(locale.LC_ALL, '') 

new_ideabook_item = ideabook_item2[:]
new_ideabook_item['IDEABOOK_ID'] = ideabook_item2['IDEABOOK_ID'].apply(locale.atoi)
new_ideabook_item['ITEM_ID'] = ideabook_item2['ITEM_ID'].apply(locale.atoi)
new_ideabook_item['MATNR'] = ideabook_item2['MATNR'].apply(int)
print(new_ideabook_item.shape)
new_ideabook_item.head()

(19747, 7)

   ITEM_ID  IDEABOOK_ID     MATNR INSPIRATION_ID  IMAGE_ID  ITEM_TYPE PHOTO_ID
1     3103         3225  19014714            NaN       NaN  MDM_CYBER      NaN
2     3104         3225  59008884            NaN       NaN  MDM_CYBER      NaN
3     3149         3330  19077181            NaN       NaN  MDM_CYBER      NaN
4     3323         3501  19055703            NaN       NaN  MDM_CYBER      NaN
5     3324         3501  19076067            NaN       NaN  MDM_CYBER      NaN

### 3. % of missing values

In [71]:
new_ideabook_item.isnull().sum(axis=0)

ITEM_ID               0
IDEABOOK_ID           0
MATNR                 0
INSPIRATION_ID    19747
IMAGE_ID          19747
ITEM_TYPE             0
PHOTO_ID          19747
dtype: int64

ลบ column พวกนี้เพราะแม่งไม่มีค่าเลย เป็น NaN ทั้งหมด

In [72]:
if 'IMAGE_ID' in new_ideabook_item:
    del new_ideabook_item['IMAGE_ID']
if 'PHOTO_ID' in new_ideabook_item:
    del new_ideabook_item['PHOTO_ID']
if 'INSPIRATION_ID' in new_ideabook_item:
    del new_ideabook_item['INSPIRATION_ID']

ลบ ITEM_ID เพราะไม่ได้ใช้ แม่งเป็น id ของแต่ละ row กับลบ ITEM_TYPE เพราะเป็นเหมือนกันหมดคือ MDM_CYBER

In [74]:
if 'ITEM_ID' in new_ideabook_item:
    del new_ideabook_item['ITEM_ID']
if 'ITEM_TYPE' in new_ideabook_item:
    del new_ideabook_item['ITEM_TYPE']

In [75]:
new_ideabook_item.head()

   IDEABOOK_ID     MATNR
1         3225  19014714
2         3225  59008884
3         3330  19077181
4         3501  19055703
5         3501  19076067

### Export to CSV

In [76]:
new_ideabook_item.to_csv('../../2_data/explored/ideabook_item.csv', index = False)

# Ideabook + Item

In [90]:
left = new_ideabook
left.head()

   IDEABOOK_ID  CUSTOMER_ID
0         2020         1042
1         3060         2082
2         3080         2102
3         3141         2163
4         3204         2226

In [94]:
print(new_ideabook.shape)
print(len(new_ideabook['IDEABOOK_ID'].unique()))

(41735, 2)
41735

จะเห็นว่าตารางนี้ยึด IDEABOOK_ID เป็น key หลัก CUSTOMER_ID เป็น key รอง

In [100]:
right = new_ideabook_item
right.head()

   IDEABOOK_ID     MATNR
1         3225  19014714
2         3225  59008884
3         3330  19077181
4         3501  19055703
5         3501  19076067

In [103]:
print(new_ideabook_item.shape)

(19747, 2)
5608

In [95]:
ideabook_item_merge = pd.merge(left, right, on='IDEABOOK_ID')
ideabook_item_merge.head()

   IDEABOOK_ID  CUSTOMER_ID     MATNR
0         3334         2342  19088103
1         3905         2987  59008375
2         3905         2987  59007937
3         3905         2987  59003359
4         3905         2987  59000177

In [98]:
ideabook_item_merge.isnull().sum(axis=0)

IDEABOOK_ID    0
CUSTOMER_ID    0
MATNR          0
dtype: int64

In [99]:
ideabook_item_merge.shape

(19747, 3)

In [97]:
ideabook_item_merge.dtypes

IDEABOOK_ID    int64
CUSTOMER_ID    int64
MATNR          int64
dtype: object

### Export file

In [39]:
ideabook_item_merge.to_csv('../../2_data/prepared/ideabook_item_merge.csv', index=False)