In [1]:
import unicodecsv
import pandas as pd
#read data from CSV file and make it to lists
def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)
    
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn

In [2]:
data_all = pd.read_csv('../data_clean/customer.csv')
customer_all=data_all['CUSTOMER_ID']
df_customer =pd.DataFrame(customer_all)
df_customer[:5]

   CUSTOMER_ID
0         2083
1         2102
2         2223
3         2224
4         2284

In [3]:
data_age = pd.read_csv('../data_clean/customer_age.csv')
order_item = pd.read_csv('../data_clean/order_item.csv')
order = pd.read_csv('../data_clean/order.csv')
order_succsess =pd.read_csv('../data_clean/order_success.csv')
product = pd.read_csv('../data_clean/product.csv')



goods = product['MATNR']
code=product['MAKTX']
df_goods =pd.DataFrame(goods)
df_code=pd.DataFrame(code)

df_product = pd.concat([df_goods,df_code], axis=1)
merge_id=pd.merge(order_succsess,order_item, on='ORDER_ID')
merge_product=pd.merge(product,merge_id, on='MATNR')



id_cus = merge_product['CUSTOMER_ID']
q=merge_product['QUANTITY']
matnr =merge_product['MATNR']
product_name = merge_product['MAKTX']



#oreder  success

# sum quantity

In [4]:
df2 = pd.concat([id_cus,matnr,q], axis=1, join='outer')

In [5]:
sum_df = df2.groupby(['CUSTOMER_ID','MATNR'])['QUANTITY'].sum().reset_index()
sum_df[:5]

   CUSTOMER_ID     MATNR  QUANTITY
0           21  25017251         2
1         1042  25014525         1
2         2082  19086644         1
3         2082  19086651         1
4         2082  19113824         1

In [6]:
df3 = pd.concat([matnr,product_name], axis=1, join='outer')
df3[:5]

      MATNR                         MAKTX
0  19047936  PATISIA/ตู้ข้างเตียงNT45/ขาว
1  19047936  PATISIA/ตู้ข้างเตียงNT45/ขาว
2  19047936  PATISIA/ตู้ข้างเตียงNT45/ขาว
3  19047936  PATISIA/ตู้ข้างเตียงNT45/ขาว
4  19047936  PATISIA/ตู้ข้างเตียงNT45/ขาว

In [7]:
sum_df['QUANTITY'].unique()

array([ 2,  1,  3, 18,  4,  7,  8,  6,  5, 10, 13, 39, 12, 24,  9], dtype=int64)

# pivot table

In [8]:
pivot = pd.DataFrame(sum_df).pivot_table(index='CUSTOMER_ID', columns='MATNR', values='QUANTITY').fillna(0)
pivot.head()

MATNR,19000158,19000346,19000900,19005144,19008811,19008833,19009152,19009245,19011555,19012447,...,59015400,59015657,59015667,59015674,59015710,59015711,59015916,59016460,59016463,59016513
CUSTOMER_ID,,,,,,,,,,,,,,,,,,,,,
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1042,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2082,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2463,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Calculate the distances

In [9]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [10]:
user_sim = 1 - pairwise_distances( pivot.as_matrix(), metric="cosine" )

In [11]:
user_sim_df = pd.DataFrame( user_sim )

In [12]:
user_sim_df[:5]

,0,1,2,3,4,5,6,7,8,9,...,3378,3379,3380,3381,3382,3383,3384,3385,3386,3387
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# similar

In [13]:
user_sim_df.idxmax(axis=1)[0:5]

0    0
1    1
2    2
3    3
4    4
dtype: int64

# Setting correlation with self to 0

In [14]:
np.fill_diagonal( user_sim, 0 )

In [15]:
user_sim_df = pd.DataFrame( user_sim )

In [16]:
user_sim_df.head()

,0,1,2,3,4,5,6,7,8,9,...,3378,3379,3380,3381,3382,3383,3384,3385,3386,3387
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Finding user similarities

In [17]:
user_sim_df.idxmax(axis=1).sample( 10, random_state = 10 )

3218     249
1029       0
2451    2778
2497    1925
85      1096
1523       0
1893    2489
510      539
1046       0
969     1084
dtype: int64

In [28]:
def get_user_similar_movies(user1, user2):
    common_movies = sum_df[sum_df.CUSTOMER_ID == user1].merge(
      sum_df[sum_df.CUSTOMER_ID == user2],
      on = "MATNR",
      how = "inner" )

    return common_movies.merge( df3, on = 'MATNR' )

In [29]:
get_user_similar_movies(1030,1)

Empty DataFrame
Columns: [CUSTOMER_ID_x, QUANTITY_x, CUSTOMER_ID_y, QUANTITY_y, MATNR, MAKTX]
Index: []

# low

In [46]:
sum_quan['percentage']  = sum_quan['QUANTITY'].div(grouped_sum)*100
sum_quan.sort_values(['QUANTITY','CUSTOMER_ID'], ascending = [0,1])

,CUSTOMER_ID,MATNR,MAKTX,QUANTITY,percentage
2588,86302,19041255,กอ.สนงBENZO/พลาสติกดำ/ตะข่ายดำ/SLดำ,4,0.062972
411,19417,19097866,BILLION/ตู้เตี้ยC150/คาปูวอลนัท/เหลือง,3,0.047229
3036,94682,19100903,ECONI/ตู้ข้างเตียงNT40/CANYON OAK/I-TWIS,3,0.047229
5890,224182,19077277,MINIMO/โต๊ะทำงานDK60-70/CANYON OAK/I-TWI,3,0.047229
0,21,25017251,SBDS ภาพแขวน #XC55153/XC,2,0.031486
11,2082,25027768,หมอน45X45/IF YOU LOVE ME LET ME SLEEP,2,0.031486
48,3626,19077277,MINIMO/โต๊ะทำงานDK60-70/CANYON OAK/I-TWI,2,0.031486
49,3626,19077278,MINIMO/โต๊ะทำงานDK60-70/ขาว/G-TWIST,2,0.031486
55,3771,19110829,RECLINER MALABO/ผ้าเทา/1RE,2,0.031486
83,6882,19089077,เก้าอี้สำนักงานLION/ดำ/ผ้าดำ,2,0.031486
162,12076,19101657,ZERENO/ตู้สูงCT80/เวงเก้/ขาว,2,0.031486
198,13002,19112184,โซฟาXOXO#1218/ผ้าเทา#2095-7/3S+สตูล,2,0.031486
400,19102,19077275,MINIMO/ตู้วางTV90/D05/CANYON OAK/I-TWIST,2,0.031486
510,21802,19027081,SELECTOR/ชั้นแขวนSH080/ขาว,2,0.031486
516,22022,19070693,BELLO/ตู้โชว์SC80/ขาว,2,0.031486
560,23706,19047931,PATISIA/เตียง3.5'/ขาว,2,0.031486
601,24903,19114016,CHOSEN/ตู้สูงHC060ST/ไวท์โอ๊ค,2,0.031486
634,25564,19112243,โต๊ะอาหารCOMMON-A180/เหล็กดำ/ไม้ธรรมชาติ,2,0.031486
640,25644,19114405,BELIO/ตู้เตี้ยC150/CANYON OAK/เหลือง,2,0.031486
857,31456,19100903,ECONI/ตู้ข้างเตียงNT40/CANYON OAK/I-TWIS,2,0.031486
922,33044,19031477,EXIO/โต๊ะทำงานED150/I-WALNUT/Sดำ,2,0.031486
981,34142,19076895,MEUDON I/เตียง3.5'/E/โซลิดโอ๊ค,2,0.031486
985,34319,19027081,SELECTOR/ชั้นแขวนSH080/ขาว,2,0.031486
988,34319,19071520,URBANI/ตู้วางทีวีTV90/ขาว/เวงเก้,2,0.031486
1009,35246,19057773,กอ.สนง.UNIT/CH/อลู/SLดำ#B01,2,0.031486
1050,36968,19101777,เก้าอี้ROZA/เหล็ก/ไม้เทา,2,0.031486
1181,41746,19090204,กอ.สนง.ZINA#2/พลาสติกดำ/SLดำ,2,0.031486
1369,46388,19046700,MEUDON/ตู้ผ้าWSE160/D01LR/ขาว,2,0.031486
1562,51562,25025273,หมอน45X45/ครีม/กุ๊น,2,0.031486
1644,54966,19086654,MELONA/ตู้เก็บของสูงCT60/ขาว,2,0.031486
...,...,...,...,...,...
6240,257162,19090204,กอ.สนง.ZINA#2/พลาสติกดำ/SLดำ,1,0.015743
6241,257162,19090653,โต๊ะกลางWISH#4 CF80/เวงก้,1,0.015743
6242,257162,19118708,โซฟาTAPPE/SLน้ำตาล/ขาวMAR/2S,1,0.015743
6243,257182,19072321,CARLOTTA(JA)เตียงBL-6'/SLดำมัสแตง,1,0.015743
6244,257202,19117428,HEWKA/ตู้วางทีวีTV120/เวงเก้/ขาว-เดนิม,1,0.015743
6245,257283,19106901,โซฟาเบดNAYZA/ผ้าฟ้า#PL0274,1,0.015743
6246,257503,19070042,PATINAL/ตู้ผ้าWS134/DM01/D05/WG/WH-WG,1,0.015743
6247,257582,59010069,Bedroom/Minimo 5'&WO120/White/G-Twist,1,0.015743
6248,257602,19045730,MAXIMUS(SC)ตู้HC060/DHO05-180/ขาว/PVC/HG,1,0.015743
6249,257602,19127609,BRICKO-L/ตู้สูงCT40R/ออทัมบราวน์,1,0.015743
6250,257622,19113823,BENTE/โต๊ะแป้งDT80/โซลิดโอ๊ค/เดนิม-เทาดำ,1,0.015743
6251,257622,59013030,Bedroom/Backus6'&WSE160/Solid Oak,1,0.015743
6252,257763,19076885,MAXIMUS(SC)ตู้TV240/โซลิดโอ๊ค/ขาว/PVC/HG,1,0.015743
6253,257822,59016513,Home office/Finetti1.6M./Royal/ขาว(L),1,0.015743
6254,257862,19135396,ECONI/เตียงBW6'/A/ขาA/ROYAL/I-TWI/ผ้าเทา,1,0.015743
6255,257902,19086637,MELONA/เตียงBW5'/M/ขาว,1,0.015743
6256,257902,19133821,ที่นอนKC/VENUS#3-RT/ขนาด5ฟุต,1,0.015743
6257,258222,19090826,LEPINO/โต๊ะทำงานDKTV190R/ขาว/เทาดำ,1,0.015743
6258,258223,19088986,โซฟาU-MINA#SP006-2/ผ้าน้ำตาล(2S+DB),1,0.015743
6259,258226,19111301,TYLER/เตียงBW3.5'/โซลิดโอ๊ค-เทาดำ/โซลิด,1,0.015743
6260,258226,19133822,ที่นอนKC/VENUS#3-RT/ขนาด3.5ฟุต,1,0.015743
6261,258282,19118725,GEMS#2/ตู้ข้างเตียงNT48/CLS BEIGE,1,0.015743
6262,258302,19129721,ELMO/ตู้รองเท้าSH80/เทาดำ/ออทัมน์บราวน์,1,0.015743
6263,258442,19131948,โซฟาUNICO/ผ้าเทา/2S,1,0.015743
6264,258502,19121545,โต๊ะอาหารLIMIT-A/ไม้ยางขาวครีม/VENEERนต.,1,0.015743
6265,258502,19121546,เก้าอี้LIMIT-B/ไม้ยางขาวครีม/น้ำตาล,1,0.015743
6266,258723,19111301,TYLER/เตียงBW3.5'/โซลิดโอ๊ค-เทาดำ/โซลิด,1,0.015743
6267,258723,19138142,BRICKO-M/เตียงBW6'/N/โซลิดโอ๊ค/เดนิม,1,0.015743
6268,258942,19086675,MAHONY/ตู้ผ้าWV95/D05LR/ขาว,1,0.015743
6269,258982,19133963,โต๊ะข้างAVON/ดำ/ไม้ธรรมชาติ/S*2,1,0.015743

In [16]:
id_user = df2['CUSTOMER_ID'].unique()

array([  5445,  18485,  18683, ..., 140542, 239842, 238822], dtype=int64)

In [13]:
len(id_user)

3388

In [26]:
qun= df2['QUANTITY'].unique()
qun

array([ 1,  2,  4,  8,  6,  3,  5, 10, 24, 15,  7, 12, 18], dtype=int64)

In [28]:
len(qun)

13

In [29]:
#sum_quan.loc[sum_quan['QUANTITY'] == 39]

In [35]:
from sklearn.cross_validation import train_test_split
import numpy as np
train_data, test_data = train_test_split(df2, test_size = 0.20, random_state=0)
print(train_data.head(5))

      CUSTOMER_ID     MATNR                                 MAKTX  QUANTITY
584         91890  19077271   MINIMO/เตียงBM5'/G/CANYON OAK/SLเทา         1
5640        78324  25024919  SBDSภาพแขวนผนัง#XC84066/Canvasฟ้า/XC         1
4092        65442  59004830  Living/Spazz&minimo2.1m./ขาว/G-TWIST         1
5967        69283  59011682   Living/Bente TV120&CT60/1.8m./Solid         1
1156       115362  19086650                MELONA/ตู้วางTV160/ขาว         1

C:\Users\User\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [28]:
#rating_count = pd.DataFrame(sum_quan.groupby('CUSTOMER_ID')['QUANTITY'].count())
sum_quan.sort_values('QUANTITY', ascending=False).head()

      CUSTOMER_ID     MATNR                                   MAKTX  QUANTITY
3198       100822  19112226                   เก้าอี้YINDEE/SLดำ#25        39
3761       120742  19041151        เก้าอี้ ALADIN#2(6501CH)/SLดำ#B9        24
5315       180843  19133642  เก้าอี้YONEST#6517CH-1/ดำ/SLน้ำตาล#B91        18
62           4444  19071113              เก้าอี้GENAS-B/ไม้ขาว/โอ๊ค        18
2588        86302  19041255     กอ.สนงBENZO/พลาสติกดำ/ตะข่ายดำ/SLดำ        13

# groupby sum quantity

In [48]:
song_grouped = df2.groupby(['CUSTOMER_ID','MATNR','MAKTX']).agg({'QUANTITY': 'count'}).reset_index()
song_grouped[:5]

   CUSTOMER_ID     MATNR                                  MAKTX  QUANTITY
0           21  25017251               SBDS ภาพแขวน #XC55153/XC         2
1         1042  25014525             SBDS เทียนตกแต่ง #5018N/YK         1
2         2082  19086644      MELONA/ตู้ผ้าWV137/DM01/D05LR/ขาว         1
3         2082  19086651              MELONA/โต๊ะทำงานDK120/ขาว         1
4         2082  19113824  BENTE/ตู้เก็บของC60/โซลิด/เดนิม-เทาดำ         1

In [50]:
song_grouped['QUANTITY'].unique()

array([2, 1, 3, 4], dtype=int64)

In [13]:
most_rated_books = pd.DataFrame(['18462', '97822', '244422', '89734', '94682'], index=np.arange(5), columns = ['CUSTOMER_ID'])
most_rated_books_summary = pd.merge(most_rated_books,sum_quan, on='CUSTOMER_ID')
#most_rated_books_summary
most_rated_books

  CUSTOMER_ID
0       18462
1       97822
2      244422
3       89734
4       94682

# Pearsons correlation

In [14]:
average_rating = pd.DataFrame(sum_quan.groupby(['CUSTOMER_ID', 'MATNR','MAKTX'])['QUANTITY'].mean())
average_rating['ratingCount'] = pd.DataFrame(sum_quan.groupby(['CUSTOMER_ID', 'MATNR','MAKTX'])['QUANTITY'].count())
average_rating.sort_values('ratingCount', ascending=False).head()

                                                       QUANTITY  ratingCount
CUSTOMER_ID MATNR    MAKTX
21          25017251 SBDS ภาพแขวน #XC55153/XC                 2            1
134562      19111275 LYBRARY/ตู้หนังสือBS80/โซลิดโอ๊ค         1            1
135482      19126376 โต๊ะข้างMINOX-ET40/ROYAL ACACIA          4            1
135444      19112226 เก้าอี้YINDEE/SLดำ#25                    6            1
            19055701 โต๊ะอาหารASO/ดำ/กระจกดำ                  1            1

In [16]:
counts1 = sum_quan['CUSTOMER_ID'].value_counts()
ratings = sum_quan[sum_quan['CUSTOMER_ID'].isin(counts1[counts1 >= 200].index)]
counts = sum_quan['QUANTITY'].value_counts()
ratings = sum_quan[sum_quan['QUANTITY'].isin(counts[counts >= 100].index)]
ratings

,CUSTOMER_ID,MATNR,MAKTX,QUANTITY
0,21,25017251,SBDS ภาพแขวน #XC55153/XC,2
1,1042,25014525,SBDS เทียนตกแต่ง #5018N/YK,1
2,2082,19086644,MELONA/ตู้ผ้าWV137/DM01/D05LR/ขาว,1
3,2082,19086651,MELONA/โต๊ะทำงานDK120/ขาว,1
4,2082,19113824,BENTE/ตู้เก็บของC60/โซลิด/เดนิม-เทาดำ,1
5,2082,25014334,VP กล่องเอนกประสงค์ #HS-13MG070/HS,1
6,2082,25025165,หมอน45X45/LEAVE YOUR MESSAGE,1
7,2082,25025166,หมอน45X45/TAKE A BREAK,1
8,2082,25025851,SBหมอนอิง#1639B-02-017/ผ้า/แมว/HMH,1
10,2082,25027036,หมอน45X45/ลายBELIEVE,1
11,2082,25027768,หมอน45X45/IF YOU LOVE ME LET ME SLEEP,2
12,2082,25027769,หมอน45X45/YOU ARE MY SUNSHINE,1
13,2391,59007711,Bedroom/Patinal 5'/WG/KC222-1/SWISS-WH,1
14,2463,19116889,MINIMO/ตู้วางTV120/D05/ESPRESSO/I-TWIST,1
15,2509,19110830,RECLINER MALABO/ผ้าน้ำตาล/1RE,1
16,2647,19111578,โซฟาเบดU-FO/ผ้าเทากุ๊นครีม,1
17,2716,19089166,ชั้นหนังสือEARRA/ไม้ธรรมชาติ***,1
18,2784,19114405,BELIO/ตู้เตี้ยC150/CANYON OAK/เหลือง,1
19,2790,19088984,โซฟาเบดU-SAW#SA005-7/ผ้าน้ำเงิน,1
20,3071,19090641,โต๊ะข้าง#INT2658/FP/MAHOGANY***,1
21,3071,19115350,โต๊ะข้างCHAMBRE/ไม้ขาวANTIC,1
22,3124,19110767,PATHENOZ/โต๊ะแป้งDT60/ขาว/PHGดำ-ดำ,1
23,3124,19111293,LYBRARY/ตู้หนังสือBS40/โซลิดโอ๊ค,1
24,3124,19111300,LYBRARY/ตู้สูงCT40/ขาว,1
25,3223,25015559,SBDS กรอบรูปตั้งโต๊ะ #GM08-8298/CN***,1
26,3223,25015567,SBDS นาฬิกาแขวน #GM08-8348/CN***,1
27,3223,25015571,SBDS กรอบรูป #GMXH-XH006/CN***,1
28,3223,25017415,หมอน45*45 #MTH4749A/MTA,1
29,3223,25023255,VP ภาพแขวนผนัง #XC74435H/ไม้+Canvas/XC,1
30,3252,19044850,โต๊ะกลางSUNZA#2/ขาว/ดำ,1
...,...,...,...,...
6239,257042,59015391,Bedroom/Martin6'&Venus#3/Full/Solid,1
6240,257162,19090204,กอ.สนง.ZINA#2/พลาสติกดำ/SLดำ,1
6241,257162,19090653,โต๊ะกลางWISH#4 CF80/เวงก้,1
6242,257162,19118708,โซฟาTAPPE/SLน้ำตาล/ขาวMAR/2S,1
6243,257182,19072321,CARLOTTA(JA)เตียงBL-6'/SLดำมัสแตง,1
6244,257202,19117428,HEWKA/ตู้วางทีวีTV120/เวงเก้/ขาว-เดนิม,1
6245,257283,19106901,โซฟาเบดNAYZA/ผ้าฟ้า#PL0274,1
6246,257503,19070042,PATINAL/ตู้ผ้าWS134/DM01/D05/WG/WH-WG,1
6247,257582,59010069,Bedroom/Minimo 5'&WO120/White/G-Twist,1
6248,257602,19045730,MAXIMUS(SC)ตู้HC060/DHO05-180/ขาว/PVC/HG,1
6249,257602,19127609,BRICKO-L/ตู้สูงCT40R/ออทัมบราวน์,1
6250,257622,19113823,BENTE/โต๊ะแป้งDT80/โซลิดโอ๊ค/เดนิม-เทาดำ,1
6251,257622,59013030,Bedroom/Backus6'&WSE160/Solid Oak,1
6252,257763,19076885,MAXIMUS(SC)ตู้TV240/โซลิดโอ๊ค/ขาว/PVC/HG,1
6253,257822,59016513,Home office/Finetti1.6M./Royal/ขาว(L),1
6254,257862,19135396,ECONI/เตียงBW6'/A/ขาA/ROYAL/I-TWI/ผ้าเทา,1
6255,257902,19086637,MELONA/เตียงBW5'/M/ขาว,1
6256,257902,19133821,ที่นอนKC/VENUS#3-RT/ขนาด5ฟุต,1
6257,258222,19090826,LEPINO/โต๊ะทำงานDKTV190R/ขาว/เทาดำ,1
6258,258223,19088986,โซฟาU-MINA#SP006-2/ผ้าน้ำตาล(2S+DB),1
6259,258226,19111301,TYLER/เตียงBW3.5'/โซลิดโอ๊ค-เทาดำ/โซลิด,1
6260,258226,19133822,ที่นอนKC/VENUS#3-RT/ขนาด3.5ฟุต,1
6261,258282,19118725,GEMS#2/ตู้ข้างเตียงNT48/CLS BEIGE,2
6262,258302,19129721,ELMO/ตู้รองเท้าSH80/เทาดำ/ออทัมน์บราวน์,1
6263,258442,19131948,โซฟาUNICO/ผ้าเทา/2S,1
6264,258502,19121545,โต๊ะอาหารLIMIT-A/ไม้ยางขาวครีม/VENEERนต.,1
6266,258723,19111301,TYLER/เตียงBW3.5'/โซลิดโอ๊ค-เทาดำ/โซลิด,2
6267,258723,19138142,BRICKO-M/เตียงBW6'/N/โซลิดโอ๊ค/เดนิม,1
6268,258942,19086675,MAHONY/ตู้ผ้าWV95/D05LR/ขาว,1
6269,258982,19133963,โต๊ะข้างAVON/ดำ/ไม้ธรรมชาติ/S*2,1

In [19]:
ratings_pivot = ratings.pivot(index='CUSTOMER_ID', columns='MATNR').QUANTITY
userID = ratings_pivot.index
matnr = ratings_pivot.columns
print(ratings_pivot.shape)
ratings_pivot.head()

(3303, 2288)

MATNR,19000158,19000346,19000900,19005144,19008811,19008833,19009152,19009245,19011555,19012447,...,59015400,59015657,59015667,59015674,59015710,59015711,59015916,59016460,59016463,59016513
CUSTOMER_ID,,,,,,,,,,,,,,,,,,,,,
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
bones_ratings = ratings_pivot['19000158']
similar_to_bones = ratings_pivot.corrwith(bones_ratings)
corr_bones = pd.DataFrame(similar_to_bones, columns=['pearsonR'])
corr_bones.dropna(inplace=True)
corr_summary = corr_bones.join(average_rating['ratingCount'])
corr_summary[corr_summary['ratingCount']>=300].sort_values('pearsonR', ascending=False).head(10)

KeyError: '19000158'

In [101]:
def getScore(history,similarities):
    return sum(history*similarities)/sum(similarities)

In [102]:
data_sim=pd.DataFrame(index=sum_quan.index,columns=sum_quan.columns)
data_sim.ix[:,:1]=sum_quan.ix[:,:1]

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [107]:
for i in range(0,len(data_sim.index)):
    for j in range(1,len(data_sim.columns)):
        user = data_sim.index[i]
        product = data_sim.columns[j]
        
        if data.iloc[i][j]==1:
            data_sim.iloc[i][j]=0
        else:
            product_top_names = data_voisins.loc[product][1:10]
            product_top_sim = data_ibs.loc[product].sort_values(ascending=False)[1:10]
            user_achats = data_germany.loc[user,product_top_names]
            
            data_sim.iloc[i][j]=getScore( user_achats, product_top_sim)

NameError: name 'data' is not defined

In [92]:
pivot = pd.DataFrame(sum_quan).pivot_table(index='CUSTOMER_ID', columns='MAKTX', values='QUANTITY').fillna(0)
pivot.head()

MAKTX,ABBY/ไซด์บอร์ดTV120/ESPRESSO/ขาวเงา,ABLE/HC040/DO05-083/DO03-083เทาดำ/เชอรี่,ABLE/ตู้HC080/DO05-0083(2L)เทาดำ/เชอรี่,ABLE/ตู้HC080/DO05-0083(2L)เทาดำ/เมเปิ้ล,ABLE/ตู้HC080/DO05-0083(2M)เทาดำ/เมเปิ้ล,ABLE/ตู้HC080/DO05-083(4)เทาดำ/เมเปิ้ล,ABLE/ตู้HC080/DO05-166(2)/เทาดำ/เมเปิ้ล,ABLE/ตู้LC080/DO05-083(2)/เทาดำ/เชอรี่,ABLE/ตู้LC080/DO05-083(2)/เทาดำ/เมเปิ้ล,ABLE/ตู้ลิ้นชักDWB042/เทาดำ/เมเปิ้ล,...,โต๊ะอาหารไม้GENETIC-A-110/เวงเก้,โต๊ะอาหารไม้TEYA-A#2/NATURAL,โต๊ะอาหารไม้TWITTER-A/60*60/NATURAL,โต๊ะเขียนหนังสือCHALEUR/ไม้เทา,โต๊ะเขียนหนังสือDHARMA#K841ไม้ธรรมชาติ,โต๊ะเครื่องแป้ง#INT1584/ขาว/DT***,โต๊ะเครื่องแป้ง&สตูลSTEFAN,โต๊ะเครื่องแป้ง&สตูลSYDNEY,โต๊ะแป้งDAVIKA/ไม้ครีม/ไม้ธรรมชาติ***,ไซด์บอร์ดLAGOON/WHITE ASH/กระจกดำ***
CUSTOMER_ID,,,,,,,,,,,,,,,,,,,,,
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1042,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2082,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2391,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2463,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [69]:
R = pivot.as_matrix()
user_ratings_mean = np.mean(R, axis = 1)
R_demeaned = R - user_ratings_mean.reshape(-1, 1)

In [70]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_demeaned, k = 50)

In [74]:
U, sigma, Vt

(array([[  1.87638493e-06,  -2.02842914e-04,  -1.48549251e-04, ...,
          -8.63169420e-05,  -4.37738401e-05,   2.46950515e-05],
        [ -1.29283333e-05,   3.12203869e-04,   2.10894028e-04, ...,
          -3.65520458e-05,  -1.91485102e-05,   1.18133037e-05],
        [  1.21867137e-02,   4.26163009e-03,   2.82341247e-03, ...,
          -5.28918542e-04,  -2.75344415e-04,   1.66917763e-04],
        ...,
        [ -6.64866788e-03,   3.68882352e-03,   2.69278781e-03, ...,
          -1.15298232e-04,  -5.98511913e-05,   3.59439117e-05],
        [  9.00669608e-05,   3.58650370e-04,   8.25759467e-04, ...,
          -3.62233048e-05,  -1.90014528e-05,   1.17776186e-05],
        [ -8.65520303e-06,   2.03336740e-04,   1.38289161e-04, ...,
          -3.53504722e-05,  -1.86247318e-05,   1.16951190e-05]]),
 array([  6.46385428,   6.51765427,   6.57736243,   6.65278494,
          6.75373064,   6.82608812,   6.84397639,   6.97728692,
          6.99935496,   7.04856055,   7.31015066,   7.33388983,
          7.705598  ,   7.79462498,   7.95556148,   7.99560263,
          8.00698674,   8.16879632,   8.30412661,   8.30979812,
          8.32415813,   8.4102859 ,   8.5091458 ,   8.55730864,
          8.57965843,   8.77505945,   8.94241439,   9.00268438,
          9.04854122,   9.20917888,   9.26591874,   9.353388  ,
          9.67633418,   9.94683931,   9.99856417,  10.09583827,
         10.10110192,  10.24823233,  10.40651321,  10.56619354,
         10.57582376,  11.32507539,  11.42552789,  12.20456759,
         12.23941335,  15.53345999,  19.02381732,  21.98977061,
         24.1194279 ,  39.95085856]),
 array([[ -1.10197528e-04,  -5.88158566e-04,   7.53563036e-03, ...,
          -5.59459711e-05,  -6.54919636e-04,  -5.59459711e-05],
        [  1.36004234e-03,   4.25780044e-04,   1.44385435e-05, ...,
           1.32527857e-03,   1.50598832e-03,   1.32527857e-03],
        [  8.93436334e-04,  -1.96573859e-04,  -7.17305616e-03, ...,
           9.09577932e-04,   8.40013444e-04,   9.09577932e-04],
        ...,
        [ -7.82416213e-04,  -8.00737906e-04,  -7.95889690e-04, ...,
          -7.77348775e-04,  -7.87179278e-04,  -7.77348775e-04],
        [ -4.51629481e-04,  -4.60033868e-04,  -4.58041753e-04, ...,
          -4.49217877e-04,  -4.53924469e-04,  -4.49217877e-04],
        [  4.68120344e-04,   4.70879220e-04,   4.70492791e-04, ...,
           4.67230045e-04,   4.68996461e-04,   4.67230045e-04]]))

In [75]:
sigma = np.diag(sigma)

In [13]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = pivot.columns)

In [27]:
all_user_predicted_ratings

array([[  1.06251144e-04,   1.03598557e-04,   7.23708681e-05, ...,
          1.15159312e-04,   9.43327330e-05,   1.15159312e-04],
       [  4.64020068e-04,   3.64449613e-04,   4.74856002e-04, ...,
          4.68297109e-04,   4.71687271e-04,   4.68297109e-04],
       [  5.60700930e-03,   4.20030576e-03,   6.20348545e-03, ...,
          5.68866707e-03,   5.66068379e-03,   5.68866707e-03],
       ...,
       [  1.40546280e-03,   6.44039162e-04,   1.73577915e-03, ...,
          1.44990673e-03,   1.47931063e-03,   1.44990673e-03],
       [  4.31595628e-04,   3.49964672e-04,   4.38572255e-04, ...,
          4.36248436e-04,   4.33603548e-04,   4.36248436e-04],
       [  4.55152167e-04,   3.81346440e-04,   4.62943580e-04, ...,
          4.58241499e-04,   4.60857982e-04,   4.58241499e-04]])

In [67]:
def recommend_item(prediction_df,costomer_id,item_df,original_ratings_df,num_recommend=5):
    user_row_number = costomer_id
    sorted_user_predictions = predictions_df.iloc[user_row_number].sort_values
   
    user_data = original_ratings_df[original_ratings_df.CUSTOMER_ID == (costomer_id)]
    user_full = user_data.sort_values('QUANTITY')
    
    print(costomer_id, user_full.shape[0])
    print(num_recommendations)
    
    recommendations = (item_df[~item_df['MAKTX'].isin(user_full['MAKTX'])]
    #merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',left_on = 'MovieID',right_on = 'MovieID')
                       rename(columns = {user_row_number: 'Predictions'})
                       sort_values('Predictions', ascending = False)
                       iloc[:num_recommendations, :-1]
                          
return user_full, recommendations


#already_rated, predictions = recommend_movies(preds_df, 837, movies_df, ratings_df, 10)

SyntaxError: invalid syntax (<ipython-input-67-d640cbcc12ae>, line 13)

# Users

In [38]:
import math

def mean(x):
    sum = 0.0
    for i in x:
         sum += i
    return sum / len(x) 


def sampleStandardDeviation(x):
    sumv = 0.0
    for i in x:
         sumv += (i - mean(x))**2
    return math.sqrt(sumv/(len(x)-1))


def pearson(x,y):
    scorex = []
    scorey = []

    for i in x: 
        scorex.append((i - mean(x))/sampleStandardDeviation(x)) 

    for j in y:
        scorey.append((j - mean(y))/sampleStandardDeviation(y))

# multiplies both lists together into 1 list (hence zip) and sums the whole list   
    return (sum([i*j for i,j in zip(scorex,scorey)]))/(len(x)-1)