*Ref. Recommender System Handbook (Springer)*

#### Must Reed Chapter
- Neighborhood-based Recommendation 107-140
- *Advances in Collaborative Filtering 145-184* อาจมาดูหลัง June ถ้าเวลาไม่พอ
- *Context-Aware RS 217-250*
- Applications and Evaluation of RSs 257(260-267)-294
- a Real Large-ScaleProductionEnvironment 299-329

# Neighborhood-based Recommendation (114)

### Example Data

In [24]:
import pandas as pd

items = pd.DataFrame(data={'item_id': [1, 2, 3, 4, 5], 'name': ['The Matrix', 'Titanic', 'Die Hard', 'Forrest Gump', 'Wall-E']})
items

   item_id          name
0        1    The Matrix
1        2       Titanic
2        3      Die Hard
3        4  Forrest Gump
4        5        Wall-E

In [25]:
users = pd.DataFrame(data={'user_id': [1, 2, 3, 4], 'name': ['John', 'Lucy', 'Eric', 'Diane']})
users

    name  user_id
0   John        1
1   Lucy        2
2   Eric        3
3  Diane        4

In [26]:
rating = pd.DataFrame(data={'user_id': [1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4], 'item_id': [1,2,4,5,1,2,3,4,5,1,3,4,5,1,2,3,4], 'score': [5,1,2,2,1,5,2,5,5,2,3,5,4,4,3,5,3]})
rating.head()

   item_id  score  user_id
0        1      5        1
1        2      1        1
2        4      2        1
3        5      2        1
4        1      1        2

In [32]:
rating_x_users = pd.merge(rating, users, how='outer', on=['user_id'])
rating_x_users_x_items = pd.merge(rating_x_users, items, how='outer', on=['item_id'])
rating_x_users_x_items

    item_id  score  user_id name_x        name_y
0         1      5        1   John    The Matrix
1         1      1        2   Lucy    The Matrix
2         1      2        3   Eric    The Matrix
3         1      4        4  Diane    The Matrix
4         2      1        1   John       Titanic
5         2      5        2   Lucy       Titanic
6         2      3        4  Diane       Titanic
7         4      2        1   John  Forrest Gump
8         4      5        2   Lucy  Forrest Gump
9         4      5        3   Eric  Forrest Gump
10        4      3        4  Diane  Forrest Gump
11        5      2        1   John        Wall-E
12        5      5        2   Lucy        Wall-E
13        5      4        3   Eric        Wall-E
14        3      2        2   Lucy      Die Hard
15        3      3        3   Eric      Die Hard
16        3      5        4  Diane      Die Hard

Pivot Table

In [35]:
pivot_table = rating_x_users_x_items.pivot(index='name_x', columns='name_y', values='score')
pivot_table

name_y  Die Hard  Forrest Gump  The Matrix  Titanic  Wall-E
name_x
Diane        5.0           3.0         4.0      3.0     NaN
Eric         3.0           5.0         2.0      NaN     4.0
John         NaN           2.0         5.0      1.0     2.0
Lucy         2.0           5.0         1.0      5.0     5.0

## Item-based Recommendation (117)

เมื่อ  $N_{u}(i)$ คือ score ที่ user $u$ ให้กับ item $i$

และ predicted score ที่ user $u$ ให้กับ $i$ คำนวณจากค่าเฉลี่ยถ่วงน้ำหนัก(a weighted average)ที่ user $u$ เคยให้ไว้กับ item อื่นๆ (น้ำหนักมากหรือน้อยขึ้นกับความเหมือนของ item)

จะได้

$$\hat{r}_{ui} = \frac{\sum_{j \in N_{u}(i)} w_{ij}r_{uj} }{\sum_{j \in N_{u}(i)} |w_{ij}| }$$

สมมติว่าจากข้อมูลเราสนใจ predict rating ของ Eric ที่มีต่อ Titanic โดยเมื่อพิจารณา**ความเหมือน**ของ item ด้วย neareast-neighbors พบว่า item ที่เหมือน Titanic มากที่สุดคือ Forrest Gump และ Wall-E โดยมีค่า similarity อยู่ที่ 0.85 และ 0.75 ตามลำดับ เมื่อ Eric ให้ Score Forrest Gump ที่ 5 และ Wall-E ที่ 4

จะได้ $$\hat{r} = \frac{0.85x5 + 0.75x4}{0.85+0.75} \approx 4.53$$

### Component of Neighborhood Methods (120-141)
อธิบายการทำ model ทั้งหมด 
- 4.3.1 Rating Normalization
- 4.3.2 Similarity Weight Computation
- 4.3.3 Neighborhood Selection
- 4.4 Advanced Techniques

- Bayesian Clustering 
- Latent Semantic Analysis
- Latent Dirichlet Allocation
- Maximum Entropy
- Boltzmann Machines
- SVMs
- Singular Value Decomposition