In [1]:
import unicodecsv
import pandas as pd

# Product

In [2]:
product = pd.read_csv('../data_20180120/product.csv', dtype={'EX_AVG_RATING': float})

ดูตัวอย่างข้อมูลสินค้า

In [3]:
pd.DataFrame(product[0:10])

,MATNR,MAKTX,DEPT_ID1,MVGR1,MVGR2,MVGR3,MVGR4,MVGR5,MVGR6,MVGR7,STY_ID,META_K,EX_CONTENT_ID,EX_UNIMODEL,EX_PORT,EX_STOCK,EX_SALE_PERCENT,EX_RATING_COUNT,EX_RATING,EX_AVG_RATING
0,19047936,PATISIA/ตู้ข้างเตียงNT45/ขาว,01,14,A20,2.0,70,J9,01,09,14.0,"SB,KONCEPT FURNITURE,Patisia,ชุดห้องนอน,โต๊ะ/ต...",NaN,19047936.0,V,0,30.0,15.0,70.0,4.666667
1,19045101,โซฟาCANNERY/นต.HE51-12/เหลือง-ลายทาง/3S,03,10,059,35.0,59,B2,32,08,6.0,"SB,SB FURNITURE,Cannery,Sofa Fabric,โซฟา 3 ที่...",NaN,19045101.0,V,-3,25.0,0.0,0.0,0.000000
2,19050282,VPกรอบรูป#HD5937A/ไม้ขัดสี,06,19,,51.0,B4,,58,23,14.0,"SB,VINTAGE PASSION,,กรอบรูปและภาพแขวน,กรอบรูป,",NaN,19050282.0,V,0,0.0,0.0,0.0,0.000000
3,59000365,Bedroom/Meudon 6'&Isis/Wenge,01,14,598,2.0,CD,05,D6,09,3.0,"SB,เอส.บี,เฟอร์นิเจอร์,KONCEPT FURNITURE,Meudo...","36,332",59000365.0,C,-24,32.0,0.0,0.0,0.000000
4,59001810,Bedroom/ALicia-E 6'&Meudon/White/Re,01,14,466,2.0,CD,05,01,09,6.0,"SB,เอส.บี,เฟอร์นิเจอร์,KONCEPT FURNITURE,Alici...",NaN,59001810.0,V,0,32.0,0.0,0.0,0.000000
5,19049900,โซฟาSANTANA/SLขาวกุ๊นดำ/มุม(ขวา),03,14,HN6,38.0,62,B2,01,21,6.0,"SB,เอส.บี,เฟอร์นิเจอร์,KONCEPT FURNITURE,Santa...",NaN,19049900.0,V,0,31.0,0.0,0.0,0.000000
6,19040929,โซฟาBELLA(62-3)/หนังแท้/SL/นต.(ZP-15)/3S,03,10,755,38.0,59,B3,33,10,9.0,"SB,SB FURNITURE,Bella,โซฟาหนังสังเคราะห์,โซฟา ...",NaN,19040929.0,V,0,25.0,0.0,0.0,0.000000
7,19045046,โซฟาJOVI#AS-S077/ดำ/4S,03,10,207,35.0,60,B2,06,08,6.0,"SB,เอส.บี,เฟอร์นิเจอร์,SB,เอส.บี,เฟอร์นิเจอร์ ...",NaN,19045046.0,V,0,28.0,0.0,0.0,0.000000
8,19045211,GRAZIA I/เตียง5'/E/วอลนัท/เบาะครีม,01,14,543,2.0,02,04,37,09,3.0,"SB,เอส.บี,เฟอร์นิเจอร์,KONCEPT FURNITURE,Grazi...",NaN,19045211.0,V,0,30.0,0.0,0.0,0.000000
9,59000343,Bedroom/Koloze-B 6'&Foresta/Walnut,01,14,576,2.0,,,37,,6.0,"SB,เอส.บี,เฟอร์นิเจอร์,KONCEPT FURNITURE,Koloz...",NaN,59000343.0,H,-40,0.0,0.0,0.0,0.000000

ตรวจสอบค่า avg_rating

In [4]:
product_table = pd.DataFrame(product)
sum((product_table['EX_AVG_RATING'] < 0).astype("int"))

0

In [5]:
sum((product_table['EX_AVG_RATING'] > 5).astype("int"))

0

In [6]:
product_table.to_csv('../data_clean/product.csv',index=False)

# Category

In [7]:
category = pd.read_csv('../data_20180120/cat.csv')
category

  CATEGORY_ID       NAME_TH           NAME_EN  PRIMARY_LANG
0       2,001         คอนโด             Condo           NaN
1       2,021   ห้องแต่งตัว    Walk-in Closet           NaN
2       2,002  ห้องทานอาหาร       Dining room           NaN
3       2,003       บ้านสวย        Home Decor           NaN
4           1       ห้องนอน           Bedroom           NaN
5           8      ห้องครัว           Kitchen           NaN
6           6  ห้องนั่งเล่น       Living Room           NaN
7           9   ห้องนอนเด็ก      Kids & Teens           NaN
8          10     ห้องทำงาน  Office Furniture           NaN

เปลี่ยน CATEGORY_ID ให้เป็น int และลบ column PRIMARY_LANG

In [8]:
import locale
locale.setlocale( locale.LC_ALL, 'en_US.UTF-8' ) 

new_category = category[:]
new_category['CATEGORY_ID'] = category['CATEGORY_ID'].apply(locale.atoi)
del new_category['PRIMARY_LANG']
new_category

   CATEGORY_ID       NAME_TH           NAME_EN
0         2001         คอนโด             Condo
1         2021   ห้องแต่งตัว    Walk-in Closet
2         2002  ห้องทานอาหาร       Dining room
3         2003       บ้านสวย        Home Decor
4            1       ห้องนอน           Bedroom
5            8      ห้องครัว           Kitchen
6            6  ห้องนั่งเล่น       Living Room
7            9   ห้องนอนเด็ก      Kids & Teens
8           10     ห้องทำงาน  Office Furniture

In [9]:
new_category.to_csv('../data_clean/cat.csv',index=False)

# Brand

In [10]:
brand = pd.read_csv('../data_20180120/md1t_brand.csv')
brand[0:10]

  NODE             LTEXT  LTEXT_T
0   32          SOLUTION      NaN
1   K6           INSPIRE      NaN
2   G5     PARKER&MORGAN      NaN
3   G6        P&M STUDIO      NaN
4   31             KUCHE      NaN
5   I4  LINEART SELECTED      NaN
6   I6              VONO      NaN
7   J5    WALL SOLUTIONS      NaN
8   J7              VENZ      NaN
9   L2             U BIQ      NaN

เชคแล้ว LTEXT_T ไม่มีแถวไหนมีค่าเลย ลบ Column `LTEXT_T` ออก

In [11]:
new_brand = brand[:]
del new_brand['LTEXT_T']
new_brand[0:10]

  NODE             LTEXT
0   32          SOLUTION
1   K6           INSPIRE
2   G5     PARKER&MORGAN
3   G6        P&M STUDIO
4   31             KUCHE
5   I4  LINEART SELECTED
6   I6              VONO
7   J5    WALL SOLUTIONS
8   J7              VENZ
9   L2             U BIQ

In [12]:
new_brand.to_csv('../data_clean/md1t_brand.csv',index=False)

# Model

In [13]:
model = pd.read_csv('../data_20180120/md2t_model.csv')
model[7000:7010]

     NODE   LTEXT   LTEXT_T
7000  XK4   Aleno     อลีโน
7001  XK5    Avon    เอว่อน
7002  XK6   A-Oro  เอ-โอโร่
7003  XK7  Alezza   อเรซซ่า
7004  XK8  Alegro    อเรโก้
7005  XK9   Aruzz      อรัซ
7006  XL1   Aobpo    ออปโป้
7007  XL2  Arozzo   อโรซโซ่
7008  XL3  Agello   อเจลโล่
7009  XL4   Adino    อดิโน่

In [14]:
model.to_csv('../data_clean/md2t_model.csv',index=False)

# Category1

In [15]:
cat1 = pd.read_csv('../data_20180120/md3t_cat1.csv')
cat1[0:10]

  NODE                       LTEXT  LTEXT_T
0   47           อุปกรณ์การจัดเก็บ      NaN
1   48                       โคมไฟ      NaN
2   49                ของใช้ในครัว      NaN
3   50            สินค้าสำหรับเด็ก      NaN
4   51           กรอบรูปและภาพแขวน      NaN
5   52                      นาฬิกา      NaN
6   53  อุปกรณ์เครื่องใช้ในห้องน้ำ      NaN
7   55                         พรม      NaN
8   56            อุปกรณ์ตกแต่งสวน      NaN
9   57              หมอนอิงและสตูล      NaN

ตรวจสอบค่า unique ใน LTEXT_T

In [16]:
cat1['LTEXT_T'].unique()

array([ nan])

มีแต่ค่าว่าง ลบ column นี้เลย

In [17]:
new_cat1 = cat1[:]
del new_cat1['LTEXT_T']
new_cat1[0:10]

  NODE                       LTEXT
0   47           อุปกรณ์การจัดเก็บ
1   48                       โคมไฟ
2   49                ของใช้ในครัว
3   50            สินค้าสำหรับเด็ก
4   51           กรอบรูปและภาพแขวน
5   52                      นาฬิกา
6   53  อุปกรณ์เครื่องใช้ในห้องน้ำ
7   55                         พรม
8   56            อุปกรณ์ตกแต่งสวน
9   57              หมอนอิงและสตูล

In [18]:
new_cat1.to_csv('../data_clean/md3t_cat1.csv',index=False)

# Category2

In [19]:
cat2 = pd.read_csv('../data_20180120/md4t_cat2.csv')
cat2[0:10]

  NODE              LTEXT         LTEXT_T
0   BG          ม่านตาไก่         Pierced
1   BH         ม่านหลุยส์          Louise
2   BI      ม่านคอกระเช้า            Loop
3   BJ          มู่ลี่ไม้    Wooden Blind
4   BK   มู่ลี่อลูมิเนียม  Venetian Blind
5   BL            ม่านพับ     Roman Blind
6   BM           ม่านม้วน    Roller Blind
7   BN  แผ่นไม้ปูพื้นสนาม         Decking
8   BO      กล่องเก็บเงิน        Cash Box
9   BP              เตาอบ            Oven

In [20]:
cat2.to_csv('../data_clean/md4t_cat2.csv',index=False)

# Category3

In [21]:
cat3 = pd.read_csv('../data_20180120/md5t_cat3.csv')
cat3[0:10]

  NODE                         LTEXT  LTEXT_T
0   59     ตู้เสื้อผ้าบานเปิดขนาด 47      NaN
1   60     ตู้เสื้อผ้าบานเปิดขนาด 80      NaN
2   61     ตู้เสื้อผ้าบานเปิดขนาด 90      NaN
3   62     ตู้เสื้อผ้าบานเปิดขนาด 93      NaN
4   63  ตู้เสื้อผ้าบานเฟี้ยมขนาด 139      NaN
5   64  ตู้เสื้อผ้าบานเฟี้ยมขนาด 160      NaN
6   65  ตู้เสื้อผ้าบานเฟี้ยมขนาด 185      NaN
7   66  ตู้เสื้อผ้าบานเฟี้ยมขนาด 240      NaN
8   67  ตู้เสื้อผ้าบานเลื่อนขนาด 120      NaN
9   68  ตู้เสื้อผ้าบานเลื่อนขนาด 160      NaN

เชค `LTEXT_T`

In [22]:
cat3['LTEXT_T'].unique()

array([ nan])

ว่างทุก row ลบ column `LTEXT_T`

In [23]:
new_cat3 = cat3[:]
del new_cat3['LTEXT_T']
new_cat3[0:10]

  NODE                         LTEXT
0   59     ตู้เสื้อผ้าบานเปิดขนาด 47
1   60     ตู้เสื้อผ้าบานเปิดขนาด 80
2   61     ตู้เสื้อผ้าบานเปิดขนาด 90
3   62     ตู้เสื้อผ้าบานเปิดขนาด 93
4   63  ตู้เสื้อผ้าบานเฟี้ยมขนาด 139
5   64  ตู้เสื้อผ้าบานเฟี้ยมขนาด 160
6   65  ตู้เสื้อผ้าบานเฟี้ยมขนาด 185
7   66  ตู้เสื้อผ้าบานเฟี้ยมขนาด 240
8   67  ตู้เสื้อผ้าบานเลื่อนขนาด 120
9   68  ตู้เสื้อผ้าบานเลื่อนขนาด 160

In [24]:
new_cat3.to_csv('../data_clean/md5t_cat3.csv',index=False)

# Color

In [25]:
color = pd.read_csv('../data_20180120/md6t_catcolor.csv')
color[0:10]

  NODE                LTEXT          LTEXT_T
0   CM  KITCHEN SET KOURMET    ชุดครัวครูเม่
1   G6          BRONZE WAVE       บรอนซ์ เวฟ
2   G7         COPPER GLOSS    คอปเปอร์ กรอส
3   G8               CREAMY          ครีมมี่
4   G9            PINK GOLD      พิงก์ โกลด์
5   H1         BRONZE GLOSS      บรอนซ์ กรอส
6   H2             DIM GREY        ดิม เกรย์
7   H3          SYRUP BROWN      ไซรัปบราวน์
8   H4          IRCON BROWN  เซอร์คอน บราวน์
9   H5          AMBER BROWN  เอมเบอร์ บราวน์

In [26]:
color.to_csv('../data_clean/md6t_catcolor.csv',index=False)

# Material

In [27]:
material = pd.read_csv('../data_20180120/md7t_catmaterial.csv')
material[0:10]

   NODE            LTEXT  LTEXT_T
0    63  GRANDNADA STONE      NaN
1    60       WALL PAPER      NaN
2    58              WAX      NaN
3    59           MOSAIC      NaN
4     1   ALUMINUM FRAME      NaN
5     2  ARTIFICIAL SILK      NaN
6     3           BICAST      NaN
7     4    COATING GLASS      NaN
8     5       COATING HG      NaN
9     6    COTTON FABRIC      NaN

check unqiue LTEXT_T

In [28]:
material['LTEXT_T'].unique()

array([ nan])

In [29]:
new_material = material[:]
del new_material['LTEXT_T']
new_material[0:10]

   NODE            LTEXT
0    63  GRANDNADA STONE
1    60       WALL PAPER
2    58              WAX
3    59           MOSAIC
4     1   ALUMINUM FRAME
5     2  ARTIFICIAL SILK
6     3           BICAST
7     4    COATING GLASS
8     5       COATING HG
9     6    COTTON FABRIC

In [30]:
new_material.to_csv('../data_clean/md7t_catmaterial.csv',index=False)

# Style

In [31]:
style = pd.read_csv('../data_20180120/style.csv')
style

    STY_ID                STYLE
0        1              Artdeco
1        2       Colour Passion
2        3         Contemporary
3        4              Ecolism
4        5     Luxury Glamorous
5        6               Modern
6        7          Modern Chic
7        8       Modern Classic
8        9       Modern Italian
9       10          Neo Baroque
10      11      Oriental Aspire
11      12          Renaissance
12      13         Scandinavian
13      14              Vintage
14      15  Modern Contemporary
15      16              Minimal
16      17        Modern Luxury
17      18  Modern Scandinavian
18      19           Industrial
19      20               Luxury
20      21              Classic
21      22         Transitional
22      23                 Loft
23      24              Antique

In [32]:
style.to_csv('../data_clean/style.csv',index=False)

# Download Image from Text Url

In [33]:
product_img = pd.read_csv('../data_20180120/product_img.csv')
product_img[0:10]

       ID     MATNR                                          IMAGE_URL
0  31,987  25009984  http://sbmedia.sbdesignsquare.com/cyber/images...
1  31,997  25010053  http://sbmedia.sbdesignsquare.com/cyber/images...
2  23,077  19039894  http://sbmedia.sbdesignsquare.com/cyber/images...
3  29,283  19030498  http://sbmedia.sbdesignsquare.com/cyber/images...
4  24,727  19047365  http://sbmedia.sbdesignsquare.com/cyber/images...
5  31,826  25009902  http://sbmedia.sbdesignsquare.com/cyber/images...
6  32,487  25009867  http://sbmedia.sbdesignsquare.com/cyber/images...
7  32,425  25009299  http://sbmedia.sbdesignsquare.com/cyber/images...
8  29,901  59001672  http://sbmedia.sbdesignsquare.com/cyber/images...
9  29,453  19042871  http://sbmedia.sbdesignsquare.com/cyber/images...

In [34]:
print(len(product))

27187

In [35]:
print(len(product_img))
product_img['IMAGE_URL'][0]

21483

'http://sbmedia.sbdesignsquare.com/cyber/images/mat/25009984_NMI500322-IT-SBDS-Home Decoration-DE4717-Copper pillar candle holder-Vintage_A_A4.jpg'

จะเห็นว่า product > product img หมายความว่ามี product บางตัวที่ไม่มีรูป

ลอง download file รูปดู

In [36]:
exam_pro_img = product_img[0:20]

In [37]:
import requests

for index,img in exam_pro_img.iterrows():
    url = img['IMAGE_URL']
    r = requests.get(url, allow_redirects=True)
    name_file = str(img['MATNR'])
    open('../data_img/'+name_file+'.jpg', 'wb').write(r.content)

Download all file

import requests

for index,img in product_img.iterrows():
    url = img['IMAGE_URL']
    r = requests.get(url, allow_redirects=True)
    name_file = str(img['MATNR'])
    open('../data_img/'+name_file+'.jpg', 'wb').write(r.content)

Check Image file is .jpg, .png ... etc.

In [39]:
import imghdr
print(imghdr.what('../data_img/2501004.jpg'))
print(imghdr.what('../data_img/1909089.jpg'))

jpeg
jpeg

Remove file if format file == None

In [43]:
import numpy as np
import os

rm_product_img = []

for index, img_row in product_img.iterrows():
    name_file = str(img_row['MATNR'])
    path = '../data_img/'+name_file+'.jpg'
    if (not os.path.isfile(path)) or (imghdr.what(path) is None):
        rm_product_img.append(name_file)

In [44]:
rm_product_img = np.array(rm_product_img)
img_not_found = pd.DataFrame(rm_product_img,columns=['MATNR'])
img_not_found[0:10]

      MATNR
0   5010048
1  59000398
2  59000398
3  39002358
4  59013974
5  59055546
6  59055545
7  19045023
8  19051761
9  19049885

ลบ row จาก `product_imag.csv`

In [45]:
len(product_img)

21483

In [46]:
len(img_not_found)

617

In [47]:
img_not_found['MATNR'] = img_not_found['MATNR'].apply(int)
img_not_found['MATNR'][0:10]

0     5010048
1    59000398
2    59000398
3    39002358
4    59013974
5    59055546
6    59055545
7    19045023
8    19051761
9    19049885
Name: MATNR, dtype: int64

In [48]:
def checkImage(matnr):
    if matnr in set(img_not_found['MATNR']):
        return True
    else:
        return False

In [49]:
checkImage(5010048)

True

In [50]:
index_of_not_found = product_img['MATNR'].apply(checkImage)
sum(index_of_not_found)

617

In [51]:
sum(~index_of_not_found)

20866

In [52]:
new_product_img = product_img[~index_of_not_found]

In [53]:
new_product_img.shape

(20866, 3)

export แบบที่ clean แล้ว (เฉพาะที่มีรูปอยู่จริง) ไปเก็บไว้ `product_imag.csv`

In [54]:
new_product_img.to_csv('../data_clean/product_img.csv',index=False)

ลบไฟล์จาก folder

In [55]:
import os

for name in set(rm_product_img):
    path = '../data_img/'+name+'.jpg'
    if os.path.isfile(path): 
        os.remove(path)
        print("File %s Removed!" % name)