In [1]:
import unicodecsv
import pandas as pd
#read data from CSV file and make it to lists
def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
    
        return list(reader)
    
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn

In [2]:
data_all = pd.read_csv('../../../2_data/explored/test_movie.csv')

In [3]:
columns = ['Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6']
data_all.drop(columns, inplace=True, axis=1)

In [4]:
data_all.dropna(inplace=True)
data_all.drop(data_all.index[[0]])
data_all

       id         goods  quant
0    John    the matrix    5.0
1    Lucy    the matrix    1.0
2    Eric    the matrix    2.0
3   Diane    the matrix    4.0
4    John       Titanic    1.0
5    Lucy       Titanic    5.0
6   Diane       Titanic    3.0
7    Lucy      Die hard    2.0
8    Eric      Die hard    3.0
9   Diane      Die hard    5.0
10   John  Forrest gump    2.0
11   Lucy  Forrest gump    5.0
12   Eric  Forrest gump    5.0
13  Diane  Forrest gump    3.0
14   John        Wall-E    2.0
15   Lucy        Wall-E    5.0
16   Eric        Wall-E    4.0

In [5]:
sum_df = data_all.groupby(['id','goods'])['quant'].sum().reset_index()

In [6]:
pivot = sum_df.pivot_table(index='id', columns='goods', values='quant', aggfunc=np.sum)

In [7]:
pivot

goods  Die hard  Forrest gump  Titanic  Wall-E  the matrix
id
Diane       5.0           3.0      3.0     NaN         4.0
Eric        3.0           5.0      NaN     4.0         2.0
John        NaN           2.0      1.0     2.0         5.0
Lucy        2.0           5.0      5.0     5.0         1.0

In [8]:
len(pivot)

4

In [9]:
pivot.values

array([[ 5.,  3.,  3., nan,  4.],
       [ 3.,  5., nan,  4.,  2.],
       [nan,  2.,  1.,  2.,  5.],
       [ 2.,  5.,  5.,  5.,  1.]])

In [10]:
len(pivot)

4

In [11]:
pivot_value = pivot.values

pivot_value[0]

array([ 5.,  3.,  3., nan,  4.])

In [12]:
mean = pivot.mean(axis=1)
mean

id
Diane    3.75
Eric     3.50
John     2.50
Lucy     3.60
dtype: float64

In [13]:
def z_score(value):
    mean =pivot[~np.isnan(pivot)].mean(axis=1).as_matrix()
    std =np.std(pivot,axis=1).as_matrix()
    h = ((value.T-mean)/std).T
    print(h)

In [14]:
z_score(pivot_value)

[[ 1.50755672 -0.90453403 -0.90453403         nan  0.30151134]
 [-0.4472136   1.34164079         nan  0.4472136  -1.34164079]
 [        nan -0.33333333 -1.         -0.33333333  1.66666667]
 [-0.91766294  0.80295507  0.80295507  0.80295507 -1.49120227]]

In [20]:
table= z_score(pivot[:])

goods  Die hard  Forrest gump   Titanic    Wall-E  the matrix
id
Diane  1.507557     -0.904534 -0.904534       NaN    0.301511
Eric  -0.447214      1.341641       NaN  0.447214   -1.341641
John        NaN     -0.333333 -1.000000 -0.333333    1.666667
Lucy  -0.917663      0.802955  0.802955  0.802955   -1.491202

In [96]:
pivot[~np.isnan(pivot)].mean(axis=1).as_matrix()

array([3.75, 3.5 , 2.5 , 3.6 ])

In [97]:
def pearson(pivot):
    row = pivot.shape[0]
    pc = np.zeros([row, row])
    for u in range(row):
        value_u = pivot.values[u,:]
        mean = value_u[~np.isnan(value_u)].mean(axis=1).as_matrix()
        ru = value_u-mean
        for v in range(row):
            value_v = pivot.values[v,:]
            mean    = value_v[~np.isnan(value_v)].mean(axis=1).as_matrix()
            rv = value_v-mean
            
            uv_set = ~np.isnan(ru*rv)
            upper = sum((ru*rv)[uv_set])
            lower_left = sum((ru*rv)[uv_set])
            lower_right = sum((ru*rv)[uv_set])
            pc[u,v] = upper/np.sqrt(lower_left*lower_right)
            
   
   
    return pc

In [165]:
for u in pivot_value:
    mean = pivot[~np.isnan(pivot)].mean(axis=1)
    print (u.T-mean)

ValueError: operands could not be broadcast together with shapes (5,) (4,)

In [164]:
pivot[~np.isnan(pivot)].mean(axis=1)

id
Diane    3.75
Eric     3.50
John     2.50
Lucy     3.60
dtype: float64

In [120]:
def mean_of_array(x):
    valid_value = x[~np.isnan(x)]
    return np.mean(valid_value)

In [128]:
pivot_value[1]

array([ 3.,  5., nan,  4.,  2.])

In [131]:
mean_of_array(pivot_value[0])

3.75

In [135]:
pivot[~np.isnan(pivot)].mean(axis=1).as_matrix()

array([3.75, 3.5 , 2.5 , 3.6 ])

In [52]:
list(pivot)

['Die hard', 'Forrest gump', 'Titanic', 'Wall-E', 'the matrix']

In [65]:
x = pivot.values[3,:]
np.mean(x)

3.6

In [73]:
row = pivot.shape[0]
pc = np.zeros([row,row])

In [74]:
pc

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [36]:
pearson(pivot_value)

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [269]:
def normalization(value):
    mean =pivot.mean(axis=1).as_matrix()
    std = pivot.std(axis=1).as_matrix()
    print (value.T-mean)

In [270]:
normalization(pivot_value)

[[ 1.25 -0.5    nan -1.6 ]
 [-0.75  1.5  -0.5   1.4 ]
 [-0.75   nan -1.5   1.4 ]
 [  nan  0.5  -0.5   1.4 ]
 [ 0.25 -1.5   2.5  -2.6 ]]