In [1]:
import unicodecsv
import pandas as pd
#read data from CSV file and make it to lists
def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
    
        return list(reader)
    
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn

In [2]:
data_all = pd.read_csv('../../../2_data/explored/test_movie.csv')

In [4]:
columns = ['Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6']
data_all.drop(columns, inplace=True, axis=1)

In [5]:
data_all.dropna(inplace=True)
data_all.drop(data_all.index[[0]])
data_all

       id         goods  quant
0    John    the matrix    5.0
1    Lucy    the matrix    1.0
2    Eric    the matrix    2.0
3   Diane    the matrix    4.0
4    John       Titanic    1.0
5    Lucy       Titanic    5.0
6   Diane       Titanic    3.0
7    Lucy      Die hard    2.0
8    Eric      Die hard    3.0
9   Diane      Die hard    5.0
10   John  Forrest gump    2.0
11   Lucy  Forrest gump    5.0
12   Eric  Forrest gump    5.0
13  Diane  Forrest gump    3.0
14   John        Wall-E    2.0
15   Lucy        Wall-E    5.0
16   Eric        Wall-E    4.0

In [6]:
sum_df = data_all.groupby(['id','goods'])['quant'].sum().reset_index()

In [79]:
pivot = sum_df.pivot_table(index='id', columns='goods', values='quant', aggfunc=np.sum)

In [80]:
pivot

goods  Die hard  Forrest gump  Titanic  Wall-E  the matrix
id
Diane       5.0           3.0      3.0     NaN         4.0
Eric        3.0           5.0      NaN     4.0         2.0
John        NaN           2.0      1.0     2.0         5.0
Lucy        2.0           5.0      5.0     5.0         1.0

In [81]:
len(pivot)

4

In [82]:
pivot.values

array([[ 5.,  3.,  3., nan,  4.],
       [ 3.,  5., nan,  4.,  2.],
       [nan,  2.,  1.,  2.,  5.],
       [ 2.,  5.,  5.,  5.,  1.]])

In [91]:
len(pivot)

4

In [90]:
pivot.mean(axis=1)

id
Diane    3.75
Eric     3.50
John     2.50
Lucy     3.60
dtype: float64

In [145]:
pivot_value = pivot.values
pivot_value

array([[ 5.,  3.,  3., nan,  4.],
       [ 3.,  5., nan,  4.,  2.],
       [nan,  2.,  1.,  2.,  5.],
       [ 2.,  5.,  5.,  5.,  1.]])

In [125]:
mean = pivot.mean(axis=1).as_matrix()
mean

array([3.75, 3.5 , 2.5 , 3.6 ])

In [221]:
def pearson(value):
    mean =pivot.mean(axis=1).as_matrix()
    std = pivot.std(axis=1).as_matrix()
    pivot_value = pivot.values
    
    h = pivot_value.T-mean
    print(h)

In [222]:
pearson(m)

[[ 1.25 -0.5    nan -1.6 ]
 [-0.75  1.5  -0.5   1.4 ]
 [-0.75   nan -1.5   1.4 ]
 [  nan  0.5  -0.5   1.4 ]
 [ 0.25 -1.5   2.5  -2.6 ]]

In [191]:
def get_redundant_pairs(df):

    pairs_to_drop = set()
    cols = pivot.columns
    for i in range(0, df.shape[1]):
        for j in range(0, i+1):
            pairs_to_drop.add((cols[i], cols[j]))
    return pairs_to_drop

In [194]:
column_data = get_redundant_pairs(pivot)
column_data

{('Die hard', 'Die hard'),
 ('Forrest gump', 'Die hard'),
 ('Forrest gump', 'Forrest gump'),
 ('Titanic', 'Die hard'),
 ('Titanic', 'Forrest gump'),
 ('Titanic', 'Titanic'),
 ('Wall-E', 'Die hard'),
 ('Wall-E', 'Forrest gump'),
 ('Wall-E', 'Titanic'),
 ('Wall-E', 'Wall-E'),
 ('the matrix', 'Die hard'),
 ('the matrix', 'Forrest gump'),
 ('the matrix', 'Titanic'),
 ('the matrix', 'Wall-E'),
 ('the matrix', 'the matrix')}

In [225]:
for i in range(0, pivot_value.shape[1]):
        for j in range(0, i+1):
            mean =pivot.mean(axis=1).as_matrix()
            std = pivot.std(axis=1).as_matrix()
            pivot_value = pivot.values
            
            u = sum((pivot_value.T[i]-mean)+(pivot_value.T[j]-mean))
            d =(sum((pivot_value.T[i]-mean)**2)+sum((pivot_value.T[j]-mean)**2))**0.5
            
            print (u/d)

nan
nan
1.041211531562839
nan
nan
nan
nan
nan
nan
nan
nan
0.0665108361445696
nan
nan
-0.4877350331430644

In [212]:
pivot_value

array([[ 5.,  3.,  3., nan,  4.],
       [ 3.,  5., nan,  4.,  2.],
       [nan,  2.,  1.,  2.,  5.],
       [ 2.,  5.,  5.,  5.,  1.]])

In [215]:
pivot_value.shape[0]

4

In [182]:
cols = pivot.columns
for i in range(0, pivot.shape[1]):
    for j in range(0, i+1):
        print ((cols[i], cols[j]))

('Die hard', 'Die hard')
('Forrest gump', 'Die hard')
('Forrest gump', 'Forrest gump')
('Titanic', 'Die hard')
('Titanic', 'Forrest gump')
('Titanic', 'Titanic')
('Wall-E', 'Die hard')
('Wall-E', 'Forrest gump')
('Wall-E', 'Titanic')
('Wall-E', 'Wall-E')
('the matrix', 'Die hard')
('the matrix', 'Forrest gump')
('the matrix', 'Titanic')
('the matrix', 'Wall-E')
('the matrix', 'the matrix')

In [ ]:
def correlation():
    mean =pivot.mean(axis=1).as_matrix()
    std = pivot.std(axis=1).as_matrix()
    pivot_value = pivot.values
    
    row_column = get_redundant_pairs(pivot)
    
    h = pivot_value.T-mean

In [49]:
pivot.mean(axis=1).as_matrix()

array([3.33333333, 3.75      , 3.        , 3.66666667, 3.        ])

In [61]:
pivot_value=pivot.values
pivot_value

array([[ 5.,  3., nan,  2.],
       [ 3.,  5.,  2.,  5.],
       [ 3., nan,  1.,  5.],
       [nan,  4.,  2.,  5.],
       [ 4.,  2.,  5.,  1.]])

In [76]:
def normalization(value):
    mean =pivot.mean(axis=1).as_matrix()
    std = pivot.std(axis=1).as_matrix()
    (value.T-mean)/std

In [77]:
normalization(pivot_value)

array([[ 1.09108945, -0.5       ,  0.        ,         nan,  0.54772256],
       [-0.21821789,  0.83333333,         nan,  0.21821789, -0.54772256],
       [        nan, -1.16666667, -1.        , -1.09108945,  1.09544512],
       [-0.87287156,  0.83333333,  1.        ,  0.87287156, -1.09544512]])