In [2]:
import unicodecsv
import pandas as pd
#read data from CSV file and make it to lists
def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)

In [3]:
age_order_success =  pd.read_csv('../data_clean/order_success.csv')

In [5]:
age_order_success[:5]

,ORDER_ID,CUSTOMER_ID,BPCODE,CREATE_DATE,UPDATE_DATE,STATUS
0,2321,4223,1100702550,2015-10-16 15:36:00,2015-10-16 15:42:00,PAID_SUCCESS
1,2481,2509,1100605014,2015-10-18 20:50:00,2015-10-18 20:58:00,PAID_SUCCESS
2,2781,5445,1100703863,2015-10-26 11:22:00,2015-10-26 11:25:00,PAID_SUCCESS
3,3202,8263,1100561933,2015-01-11 16:44:00,2015-01-11 16:46:00,PAID_SUCCESS
4,3962,10702,1100708595,2015-11-11 10:22:00,2015-11-11 10:33:00,PAID_SUCCESS

In [9]:
id_suc= pd.DataFrame(age_order_success ,columns=['CUSTOMER_ID'])
id_suc [:5]

   CUSTOMER_ID
0         4223
1         2509
2         5445
3         8263
4        10702

In [13]:
id_customer=  pd.read_csv('../data_clean/customer.csv')
id_customer[:5]

   CUSTOMER_ID  ADDRESS_POSTAL_CODE   Age_dirt
0       2083.0              20170.0  29.306849
1       2390.0              10250.0  31.528767
2       2406.0              10150.0  34.367123
3       2412.0              11110.0  28.320548
4       2413.0              11000.0  35.717808

In [16]:
df_customer= pd.DataFrame(id_customer ,columns=['CUSTOMER_ID'])
df_customer[:5]

   CUSTOMER_ID
0       2083.0
1       2390.0
2       2406.0
3       2412.0
4       2413.0

# รวม id ปกติ กับ idที่success

In [17]:
left = id_suc
right = df_customer

intersec = pd.merge(left, right, on='CUSTOMER_ID')
intersec[:5]

  CUSTOMER_ID
0        4223
1        2509
2        5445
3        5445
4        8263